deja-popup-advanced {
    .deja-popup-container {
        height: 100%;
        position: relative;
        .dialog-overlay {
            height: 100%;
            width: 100%;
            z-index: 100;
            position: absolute;
            top: 0;
            left: 0;
            cursor: grabbing;
        }
        .mat-dialog-content {
            &.frame-padding {
                padding: 24px;
                margin: 0;
                max-height: 100vh;
            }
            &.frame-full {
                padding: 0;
                margin: 0;
                overflow: hidden;
                max-height: 100vh;
            }
            .iframe-wrapper {
                width: 100%;
                height: 100%;
            }
        }
        .mat-dialog-actions:last-child {
            margin: 0 24px !important;
        }
    }
}
