<input deja-child-validator [placeholder]="placeholder" matInput [class.off-limits]="value < min || value > max" [disabled]="disabled" #inputStepper type="number" [(ngModel)]="value" [min]="min" [max]="max" [step]="step" [style.width.px]="size" />
<span class="unit" *ngIf="value !== undefined && value !== null && unit">{{ unit }}</span>

<span class="steppers">
    <button [disabled]="disabled || value === min" (click)="value = (value || 0) - step" type="button" tabindex="-1">remove_circle_outline</button>
    <button [disabled]="disabled || value === max" (click)="value = (value || 0) + step" type="button" tabindex="-1">add_circle_outline</button>
</span>