<div class="tile-group-content" *ngIf="model">
    <deja-editor *ngIf="designMode" [class.hidden]="!editing" [(ngModel)]="model.html" (ngModelChange)="modelChanged.emit($event)" [config]="editorConfig" (blur)="onEditorBlur()"></deja-editor>
    <div *ngIf="!designMode || !editing" class="not-editing-container" (dblclick)="edit()">
        <span class="not-editing" [innerHtml]="model.html"></span>
    </div>
    <div class="button-container">
        <button *ngIf="designMode" mat-icon-button (click)="actions.show($event)">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>

<deja-overlay #actions>
    <div class="deja-menu-content">
        <ul>
            <li class="menu-item" (click)="actions.close();close.emit($event)">
                <mat-icon>close</mat-icon> Delete
            </li>
            <li class="menu-item" (click)="actions.close();edit()">
                <mat-icon>edit</mat-icon> Edit
            </li>
            <li class="menu-item" (click)="actions.close();editStyle()">
                <mat-icon>border_style</mat-icon> {{ !!model.borderWidth ? ' Edit Border' : ' Add Border' }}
            </li>
        </ul>
    </div>
</deja-overlay>
