<div class="tile-group-content" *ngIf="model">
	<deja-editor *ngIf="editing" [ngModel]="model.html" (ngModelChange)="onModelChanged($event)" [config]="editorConfig" (blur)="onEditorBlur()"></deja-editor>
	<div *ngIf="!designMode || !editing" class="not-editing-container" (dblclick)="edit()">
        <div class="not-editing" [innerHtml]="innerHtml"></div>
	</div>
    <div class="button-container" *ngIf="designMode" >
        <em id="edit-border-button" (click)="editStyle()" [matTooltip]="!!model.borderWidth ? ' Edit Border' : ' Add Border'" class="material-icons">border_style</em>
        <em id="edit-button" (click)="edit()" [matTooltip]="'Edit'" class="material-icons">edit</em>
        <em id="close-button" (click)="close.emit($event)" [matTooltip]="'Delete'" class="material-icons">close</em>
    </div>
</div>
