@import '~@angular/material/core/theming/theming';
@import 'src/scss/variables/themeHUG';

.markdown-content {

    @import "~prismjs/themes/prism.css";
    @import "~prismjs/themes/prism-okaidia.css";

    table {
        border-collapse: collapse;

        tr {
            &:nth-of-type(odd) {
                background-color: #ececec;
            }

            &:first-child {
                background: mat-color($primary);
                color: white;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 1rem;
            }
        }
    }
}