:host {
    .dialog-backdrop {
        background-color: rgba(0, 0, 0, 0.6);
		z-index: 99;
	}

    .dialog {
        left: 50%;
        position: fixed; 
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
}