<span>&nbsp;</span>
<span>
    <button id="raise-all" mat-icon-button title="Select all" (click)="emit('raiseAll')" [disabled]="disabled" *ngIf="!disableFastActions">
        <i class="md-24" aria-label="Select all" svg-icon="fast_forward"></i>
    </button>
</span>
<span>
    <button mat-icon-button title="Select" (click)="emit('raiseBuffer')" [disabled]="disabled">
        <i class="md-24" aria-label="Select" svg-icon="keyboard_arrow_right"></i>
    </button>
</span>
<span>
    <button mat-icon-button title="Deselect" (click)="emit('dropBuffer')" [disabled]="disabled">
        <i class="md-24" aria-label="Deselect" svg-icon="keyboard_arrow_left"></i>
    </button>
</span>
<span>
    <button mat-icon-button title="Deselect All" (click)="emit('dropAll')" [disabled]="disabled" *ngIf="!disableFastActions">
        <i class="md-24" aria-label="Deselect All" svg-icon="fast_rewind"></i>
    </button>
</span>
<span>&nbsp;</span>