<div class="time-picker" #picker [class.disabled]="disabled">
    <mat-icon class="arrows increment" (click)="value = value + step">keyboard_arrow_up</mat-icon>
    <div class="value-container">
        <input type="text" maxlength="2" class="value" [value]="hours && value === 24 ? '00' : ('0' + value).slice(-2)" (change)="onInputChange$.next($event)" [disabled]="disabled" />
    </div>
        <mat-icon class="arrows decrement" (click)="value = value - step">keyboard_arrow_down</mat-icon>
    </div>
