:host {
    position: relative;
    width: fit-content;

    .time-picker {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .time-separator {
        width: 4px;
        font-size: 14.5px;
        line-height: 17px;
        margin: 0 8px;
    }
}
