deja-time-picker {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    &:not([inform]) {
        .mat-form-field-wrapper {
            padding-bottom: 0;

            .mat-form-field-infix {
                border-bottom: 0.7em solid transparent;
            }
        }
    }

    mat-form-field[deja-numeric-stepper-form-field] {
        width: 48px;
    }

    .time-separator {
        width: 4px;
        font-size: 14.5px;
        line-height: 17px;
        margin: 0 8px;
    }
}
