.mat-primary[mat-icon-button]:not([disabled]) {
	color: $secondary !important;
}

.mat-success[mat-icon-button]:not([disabled]) {
	color: $success !important;
}

.mat-warn[mat-icon-button]:not([disabled]) {
	color: $warning !important;
}

.mat-danger[mat-icon-button]:not([disabled]) {
	color: $red !important;
}

.mat-primary[mat-raised-button],
.mat-primary[mat-fab],
.mat-primary[mat-mini-fab] {
	background-color: $secondary !important;
	color: #FFF !important;
}

.mat-success[mat-raised-button],
.mat-success[mat-fab],
.mat-success[mat-mini-fab] {
	background-color: $success !important;
	color: #FFF !important;
}

.mat-warn[mat-raised-button],
.mat-warn[mat-fab],
.mat-warn[mat-mini-fab] {
	background-color: $warning !important;
	color: #FFF !important;
}

.mat-danger[mat-raised-button],
.mat-danger[mat-fab],
.mat-danger[mat-mini-fab] {
	background-color: $red !important;
	color: #FFF !important;
}

.mat-blank[mat-raised-button],
.mat-blank[mat-fab],
.mat-blank[mat-mini-fab] {
	background-color: transparent !important;
	box-shadow: none;
	color: rgba(0, 0, 0, 0.6) !important;
	&.close {
		align-items: stretch;
		display: flex;
		height: 1rem;
		margin: 0;
		padding: 0;
		right: 0;
		width: 1rem;
		.mat-button-wrapper {
			height: 1rem;
			width: 1rem;
			md-icon {
				font-size: 1rem;
				height: 1rem;
				line-height: 1rem;
				padding: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 1rem;
			}
		}
	}
}

[mat-menu-item].with-icon,
[mat-raised-button].with-icon {
	&:before {
		content: attr(data-icon);
		font-family: 'Material Icons';
		left: 0;
		position: absolute;
		text-align: center;
	}
}

[mat-menu-item].with-icon {
	padding-left: 3rem;
	&:before {
		width: 3rem;
		font-size: 130%;
		opacity: 0.85;
	}
}

[mat-raised-button].with-icon {
	padding-left: 2rem;
	&:before {
		width: 2rem;
	}
}

.mat-accent[mat-raised-button],
.mat-accent[mat-fab],
.mat-accent[mat-mini-fab] {
	background-color: $secondary !important;
}

.mat-accent[mat-raised-button] {
	padding-left: 30px;
	&:before {
		content: 'clear';
		font-family: 'Material Icons';
		left: 0;
		position: absolute;
		text-align: center;
		width: 30px;
	}
}