.mat-checkbox-checked,
.mat-checkbox-indeterminate {
  .mat-checkbox-layout {
    .mat-checkbox-inner-container {
      .mat-checkbox-background {
        background-color:$secondary;
      }
      .mat-checkbox-ripple {
        .mat-ripple-element {
          background-color:rgba($secondary, .2) !important;
        }
      }
    }
  }
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-checkbox-anim-checked-unchecked .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba($secondary,.26);
}
