.mat-checkbox-checked,
.mat-checkbox-indeterminate {
  .mat-checkbox-layout {
    .mat-checkbox-inner-container {
      .mat-checkbox-background {
        background-color:$secondary;
      }
      .mat-checkbox-ripple {
        .mat-ripple-foreground {
          background-color:rgba($secondary, .2) !important;
        }
      }
    }
  }
}

.mat-checkbox-focused {
  .mat-checkbox-layout {
    .mat-checkbox-inner-container {
      .mat-radio-ripple {
        .mat-ripple-foreground {
          background-color:rgba($red, .2) !important;
        }
      }
    }
  }
}