md-input-container {
	.md-input-wrapper {
		.md-input-underline {
			.md-input-ripple {
				background-color: $secondary;
			}
		}
		.md-input-table {
			.md-input-placeholder {
				&.md-focused {
					color: $secondary;
				}
			}
		}
	}
	~.md-input-message {
		font-size: 0.8rem;
		text-align: left;
		&.ng-invalid {
			color: $red;
		}
	}
	&.ng-invalid {
		.md-input-wrapper {
			.md-input-underline {
				.md-input-ripple {
					background-color: $red;
				}
			}
			.md-input-table {
				.md-input-placeholder {
					&.md-focused {
						color: $red;
					}
				}
			}
		}
	}
}

// Workaround to md-hint bug
.md-hint {
	position: absolute;
	font-size: 75%;
	bottom: -1.8em;
	left: 0;
	&.md-right {
		right: 0;
	}
	&.validation-error,
	.validation-error {
		color: $red;
	}
}

deja-select {
	.md-hint {
		bottom: -0.5em;
	}
}