@import '~@angular/material/theming';

@mixin inputs-theme($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    // Fix allow to add an ICO into the placeholder
	md-input-container {
	    .mat-input-placeholder-wrapper {
            overflow: visible !important;
        }

	    .mat-input-wrapper {
            .mat-input-underline {
                .mat-input-ripple {
                    background-color: mat-color($primary);
                }
            }
            .mat-input-table {
                .mat-input-placeholder {
                    &.mat-float:not(.mat-empty),
                    &.mat-float.mat-focused {
                        transform: translateY(-65%) scale(.75) !important;
                    }
                    &.mat-focused {
                        color: mat-color($primary);
                    }
                }
            }
	    }
	
        ~.mat-input-message {
            font-size: 0.8rem;
            text-align: left;
        }
    }

}