md-input-container {
	.mat-input-placeholder-wrapper {
		overflow: visible !important;
	}

	.mat-input-wrapper {
		.mat-input-underline {
			.mat-input-ripple {
				background-color: $secondary;
			}
		}
		.mat-input-table {
			.mat-input-placeholder {
				&.mat-focused {
					color: $secondary;
				}
			}
		}
	}
	~.mat-input-message {
		font-size: 0.8rem;
		text-align: left;
		&.ng-invalid {
			color: $red;
		}
	}
	&.ng-invalid {
		.mat-input-wrapper {
			.mat-input-underline {
				.mat-input-ripple {
					background-color: $red;
				}
			}
			.mat-input-table {
				.mat-input-placeholder {
					&.mat-focused {
						color: $red;
					}
				}
			}
		}
	}
}

// Workaround to mat-hint bug
.mat-hint {
	position: absolute;
	font-size: 75%;
	left: 0;
	&.mat-right {
		right: 0;
	}
	&.validation-error,
	.validation-error {
		color: $red;
	}
}

deja-select {
	.mat-hint {
		bottom: -0.5em;
	}
}