md-radio-group {

    &.ng-invalid {
        label {
            color:$red;
            .mat-radio-outer-circle{
                border-color:$red;
            }

            .mat-radio-inner-circle {
                background-color:$red;
            }
        }

        .mat-radio-ripple {
            .mat-ripple-element {
                background-color:rgba($red, .2);
            }
        }
    }
    
}