md-radio-group {
  .mat-radio-checked {
    .mat-radio-inner-circle {
      background-color:$secondary;
    }
    .mat-radio-outer-circle {
      border-color:$secondary;
    }
  }

  .mat-radio-ripple {
    .mat-ripple-foreground {
      background-color:rgba($secondary, .2) !important;
    }
  }

  &.ng-invalid {
    label {
      color:$red;
      .mat-radio-outer-circle{
        border-color:$red;
      }
      .mat-radio-inner-circle {
        background-color:$red;
      }
    }

    .mat-radio-ripple {
      .mat-ripple-foreground {
        background-color:rgba($red, .2);
      }
    }
  }
}