md-slide-toggle {
  &.mat-primary {
    &.mat-checked {
      &.mat-slide-toggle-focused {
        .mat-ink-ripple {
          background-color:rgba($secondary, .2) !important;
        }
      }
      .mat-slide-toggle-thumb {
        background-color:$secondary !important;
      }
      .mat-slide-toggle-bar {
        background-color:rgba($secondary, .5) !important;
      }
    }
  }
}