md-tab-group {
	&[multi-lines] {
		.md-tab-header {
			display: block;
			.md-tab-label {
				display: inline-block;
			}
		}
	}
	.md-tab-header {
		.md-tab-label {
			font-size: 12px;
			height: auto;
			line-height: normal;
			min-width: unset;
			padding: 12px 10px;
			position: relative;
			white-space: nowrap;
			&:focus {
				background-color: rgba($primary, .5) !important;
			}
			&:after {
				background-color: $secondary;
				bottom: 0;
				content: '';
				height: 2px;
				left: 50%;
				position: absolute;
				transition: all 500ms ease;
				width: 0;
			}
			&.md-tab-label-active { 
				&:after {
					left: 0;
					width: 100%;
				}
			}
		}
		md-ink-bar {
			background-color: $secondary !important;
			display: none;
		}
	}
}