app-style-editor-dialog {
    #dialog-container {
        padding: 0.5rem 1rem;
        /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
        mat-checkbox label {
            margin-bottom: 0.2rem;
        }

        h4 {
            margin: .5rem 0;
        }

        .border-dimensions {
            display: flex;
            flex: 1 1 auto;

            .border-width {
                flex: 1 1 auto;
            }

            .border-positions {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
            }
        }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    mat-form-field>div.mat-form-field-wrapper {
        padding-bottom: .5rem !important;
    }
}
