<span class="deja-popup-box-container">
    <ng-container *ngFor="let dialog of (dialogs$ | async)">
        <deja-popup-box [dialog]="dialog" (action)="doAction($event)">
        </deja-popup-box>
    </ng-container>
</span>

<button mat-icon-button (click)="posYMenu.show($event)">
    <mat-icon>more_vert</mat-icon>
</button>

<deja-overlay #posYMenu>
    <div deja-menu-content>
        <ul class="deja-popup-no-disc">
            <li class="menu-item" (click)="closeAll();posYMenu.close()">
                <mat-icon>close</mat-icon> Close all
            </li>
            <li class="menu-item" (click)="showAll();posYMenu.close()">
                <mat-icon>fullscreen</mat-icon> Show all
            </li>
            <li class="menu-item" (click)="minimizeAll();posYMenu.close()">
                <mat-icon>remove</mat-icon> Dock all
            </li>
        </ul>
    </div>
