# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/doc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - IntelliJ
*.iml
*.iws
*.ipr
.idea/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
.prettierignore

# System Files
.DS_Store
Thumbs.db

# Ignore in source
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/_theming.scss

# Ignore in demo
demo/**/*.js
demo/**/*.js.map
demo/**/*.d.ts
demo/vs
demo/.prettierignore
!demo/karma.conf.js

# Ignore backup of demo folder
demo.*

# demo compiled output
demodist
demo/tmp
demo/src/_theming.scss

# demo dependencies
demo/node_modules

# demo e2e
demo/e2e/*.js
demo/e2e/*.map
