# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

#VS code project files
.vscode/

#Typings
typings/

#npm-debug logs horodated
npm-debug.log*