:host {
    display: block;
    position: absolute;
    transition-property: left, top;
    transition-duration: .5s;
    transition-timing-function: ease;
    &[expanded] {
        transition-property: height;
    }
    &[cutted] {
        opacity: 0.5;
    }
    &[drag],
    &[drop] {
        opacity: 0.9;
        z-index: 100;
    }
    &[drag] {
        user-select: none;
        transition: none;
    }
    &[hidden] {
        visibility: hidden;
    }
}