<div class="tile-group-content">
    <deja-editor *ngIf="designMode" [class.hidden]="!editing" [(ngModel)]="model.templateModel.title" [config]="editorConfig" (blur)="onEditorBlur()"></deja-editor>
    <div *ngIf="!designMode || !editing" class="not-editing-container">
        <span class="not-editing" [innerHtml]="model.templateModel.title | safeHTML"></span>
    </div>
</div>
<mat-icon *ngIf="designMode" id="edit-button" (click)="edit()" fontSet="deja-icons" fontIcon="edit"></mat-icon>
<mat-icon *ngIf="designMode" id="close-button" (click)="close.emit($event)" fontSet="deja-icons" fontIcon="close"></mat-icon>
