:host {
    display: block;
    position: absolute;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.20);
    transition-property: left, top, width, height;
    transition-duration: .35s;
    transition-timing-function: ease;
    &[hidden] {
        display: none;
    }
}
