<deja-tile-group class="noselect" *ngIf="tile.type==='group'" [model]="tile" [designMode]="designMode" (titleChanged)="onTitleChanged($event)" [color]="tile.color" (close)="close.emit($event)"></deja-tile-group>
<ng-template *ngIf="tile.type!=='group'" [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit: tile, designMode: designMode }"></ng-template>
<mat-progress-spinner *ngIf="this.tile && this.tile.pending$ | async" mode="indeterminate" [diameter]="progressDiameter" class="accent"></mat-progress-spinner>


