:host {
    display: block;
    position: absolute;
    transition-property: left, top, opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
    opacity: 1;
    &[expanded] {
        transition-property: height;
    }
    &[cutted] {
        opacity: 0.5;
    }
    &[drag],
    &[drop] {
        opacity: 0.9;
        z-index: 100;
    }
    &[drag] {
        user-select: none;
        transition: none;
    }
    &[fading="0"] {
        opacity: 0;
        transition: none;
    }
    &[fading="1"] {
        opacity: 0;
    }
    &[hidden="0"] {
        visibility: hidden;
        transition: none;
    }
    &[hidden="1"] {
        opacity: 0;
        transition: 1s ease-in-out opacity;
    }
    &[hidden="2"] {
        visibility: visible;
        opacity: 0;
        transition: none;
    }
    deja-tile-group {
        height: 100%;
        width: 100%;
    }
    md-progress-spinner {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        width: 20%;
        height: 20%;
        max-width: 4rem;
        max-height: 4rem;
        transform: translate(-60%, -60%);
    }
}