<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <!--<mat-tab label="OVERVIEW">-->
    <!--<mat-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</mat-card>-->
    <!--</mat-tab>-->
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    TODO
</mat-card>

<div *ngIf="tabIndex === 1">
    <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">
            Progress circle
        </mat-toolbar>
        <mat-card-content>
            <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
            <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
        </mat-card-content>
    </mat-card>
    <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">
            Progress Bar
        </mat-toolbar>
        <mat-card-content fxLayout="column">
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">
            List loader
        </mat-toolbar>
        <mat-card-content fxLayout="column">
            <deja-list-loader></deja-list-loader>
        </mat-card-content>
    </mat-card>
</div>