:host {
    flex: 1 1 100%;
    padding: 1rem;
    
    mat-card-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        mat-progress-spinner, mat-progress-bar {
            margin: 20px;
        }
    }
}

