<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
	<!--<md-tab label="OVERVIEW">-->
	<!--<md-card class="demo-card demo-basic">-->
	<!--TODO-->
	<!--</md-card>-->
	<!--</md-tab>-->
	<md-tab label="API REFERENCE"> </md-tab>
	<md-tab label="EXAMPLES"> </md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
	<!--deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/viewport/readme.md'"></deja-markdown-->
</md-card>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 1">
	<md-toolbar color="primary">Viewport</md-toolbar>
	<md-card-content id="viewPortContainer">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
            <md-checkbox [(ngModel)]="isHorizontal">Horizontal</md-checkbox>
            <md-checkbox [(ngModel)]="hasButtons">Buttons Scrolling (Tips: press ctrl to increase the step)</md-checkbox>
            <md-input-container>
                <input mdInput type="number" [(ngModel)]="ensureIndex">
            </md-input-container>
            <button md-button (click)="viewport.ensureVisible(ensureIndex)">Ensure index</button>
        </div>
        <deja-viewport #viewport [items]="news$ | async" itemSize="200" viewportMode="disabled" [direction]="isHorizontal ? 'horizontal': 'vertical'" [scrollingStyle]="hasButtons ? 'buttons' : 'scrollbar'">
			<template #itemTemplate let-item let-size="size">
				<div *ngIf="item" class="news" fxLayout="row" [attr.id]="id">
					<img [attr.src]="item.urlsToLogos.medium" (load)="imageLoaded();" class="logo" [style.max-height.px]="isHorizontal? null : (size? size - 10 : 20)" fxLayout="row" fxLayoutAlign="space-between" fxFlexAlign="center">
					<span class="text">
						<div class="name">{{ item.name }}</div>
						<div class="description">{{ item.description }}</div>
						<div class="footer" fxFlex="column" fxLayoutAlign="space-between">
							<a class="url" [attr.href]="item.url">{{ item.url }}</a>
							<span class="category">{{ item.category }}</span>
							<span class="country">{{ item.country }}</span>
							<span class="language">{{ item.language }}</span>
						</div>
					</span>
				</div>
			</template>
		</deja-viewport>
	</md-card-content>
</md-card>