.viewer {
    display: flex;
    height: 200px;
    margin: 1rem 0;
}

$deep: '/deep/';
deja-viewport {
    margin-top: 1rem;
    &[horizontal="false"] {
        height: calc(100vh - 380px);
        #{$deep} {
            .listitem {
                border-left: 1px #aaa solid;
                border-bottom: 1px #aaa solid;
                border-right: 1px #aaa solid;
            }
        }
    }
    &[horizontal="true"] {
        height: 17rem;
        #{$deep} {
            .listitem {
                border-top: 1px #aaa solid;
                border-bottom: 1px #aaa solid;
                border-right: 1px #aaa solid;
            }
            .news {
                .logo {
                    flex: 0 0 15rem !important;
                    max-height: 15rem !important;
                    max-width: 15rem !important;
                }
                .text {
                    flex: 1 1 auto !important;
                    .description {
                        max-width: 25rem !important;
                    }
                }
            }
        }
    }
}