:host {
    $deep: '/deep/';
    deja-viewport {
        margin-top: 1rem;
        &[horizontal="false"] {
            height: calc(100vh - 380px);
            #{$deep} {
                .listitem {
                    box-shadow: inset 1px 0 0 #aaa, inset -1px 0 0 #aaa, inset 0 -1px 0 #aaa;
                    &:first-child {
                        box-shadow: inset 1px 0 0 #aaa, inset -1px 0 0 #aaa, inset 0 -1px 0 #aaa, inset 0 1px 0 #aaa;
                    }
                }
            }
        }
        &[horizontal="true"] {
            height: 25rem;
            #{$deep} {
                .listitem {
                    box-shadow: inset -1px 0 0 #aaa, inset 0 -1px 0 #aaa, inset 0 1px 0 #aaa;
                    &:first-child {
                        box-shadow: inset 1px 0 0 #aaa, inset -1px 0 0 #aaa, inset 0 -1px 0 #aaa, inset 0 1px 0 #aaa;
                    }
                    .news {
                        max-width: 45rem;
                        display: block;
                        .logo {
                            max-width: 20rem !important;
                        }
                        .text {
                            flex: 0 1 25rem !important;
                            .footer {
                                flex-direction: column !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
