@mixin mat-form-field-unit() {
    .mat-form-field {

        &.mat-form-field-disabled {
            .unit {
                opacity: 0.5;
            }
        }

        .unit {
            opacity: 1;
            transition: opacity 0.3s ease;
            margin-left: .5ch;
            margin-top: -1px;
        }

        &.mat-form-field-has-label.mat-form-field-hide-placeholder {
            .unit {
                opacity: 0;
            }
        }

        &[deja-numeric-stepper-form-field]:not(.disabled):hover {
            .unit {
                z-index: 10001;
            }
        }
    }
}
