@use '@angular/material'as mat;

@mixin numeric-stepper-2-theme($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);

    [deja-numeric-stepper-form-field] {
        deja-numeric-stepper {
            .arrow {
                color: mat.get-color-from-palette($primary);

                &[disabled] {
                    color: rgba(#000, 0.3);
                }
            }

            .shadow {
                background-color: mat.get-color-from-palette($background, card);
            }
        }

        &:not(.disabled) {
            &.mat-form-field-invalid {
                deja-numeric-stepper {

                    .arrow:not([disabled]) {
                        color: mat.get-color-from-palette($warn);
                    }

                    .shadow {
                        box-shadow: 0px 2px 4px rgba(mat.get-color-from-palette($warn), 0.3);
                    }
                }
                /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                .mat-form-field-flex {
                    background-color: mat.get-color-from-palette($background);
                }
            }

            &:hover {
                /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                .mat-form-field-flex {
                    background-color: transparent;
                }
            }
        }

        &.mat-form-field-appearance-fill {
            deja-numeric-stepper {
                .shadow::after {
                    background-color: rgba(0, 0, 0, 0.04);
                }
            }
        }
    }
}
