@import '~@angular/material/theming';

@mixin numeric-stepper-2-theme($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);


    [deja-numeric-stepper-form-field] {
        deja-numeric-stepper {
            .arrow {
                background-color: mat-color($background, card);
                color: mat-color($primary);
            }
        }

        &:not(.disabled) {

            &[hover],
            &:hover {
                &.mat-form-field-invalid deja-numeric-stepper {
                    .arrow {
                        color: mat-color($warn);
                    }

                    .shadow {
                        box-shadow: 0px 2px 4px rgba(mat-color($warn), 0.3);
                    }
                }

                .mat-form-field-flex {
                    background-color: mat-color($background, card);
                }
            }
        }
    }
}
