mat-form-field[deja-numeric-stepper-form-field] {
    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
           not supported by any browser */
    }

    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                input {
                    text-align: center;
                }
            }
        }
    }

    &:hover:not(.disabled) {

        .arrow,
        .shadow {
            visibility: visible;
            opacity: 1;
        }

        .arrow {
            transform: translateY(0px);
        }

        .shadow {
            box-shadow: 0px 2px 4px rgba(#000, 0.3);
        }

        .mat-form-field-label-wrapper,
        .mat-form-field-outline,
        .mat-form-field-outline-thick,
        .mat-form-field-underline {
            opacity: 0 !important;
        }

        &.mat-form-field-invalid {
            .mat-form-field-subscript-wrapper {
                visibility: hidden;
            }
        }

        .mat-form-field-flex {
            .mat-form-field-infix {
                input {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }

    deja-numeric-stepper {
        position: relative;

        .arrow,
        .shadow {
            transition: opacity 0.15s ease-out;
            position: absolute;
            visibility: hidden;
            opacity: 0;
        }

        .arrow {
            cursor: pointer;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            z-index: 1;
            transition: transform 0.15s ease-out;
        }

        .shadow {
            border-radius: 4px;
        }

        .increment {
            border-radius: 4px 4px 0 0;
            transform: translateY(5px);
        }

        .decrement {
            border-radius: 0 0 4px 4px;
            transform: translateY(-5px);
        }
    }
}
