@import '../../../node_modules/@angular/material/core/theming/theming';

@mixin form-validation-theme($theme) {
    $warn: map-get($theme, warn);
    
    form {
        
        md-radio-group.ng-invalid.ng-touched {
            label {
                color: mat-color($warn);

                .mat-radio-outer-circle{
                    border-color: mat-color($warn);
                }

                .mat-radio-inner-circle {
                    background-color: mat-color($warn);
                }
            }

            .mat-radio-ripple {
                .mat-ripple-element {
                    background-color: rgba(mat-color($warn), .2);
                }
            }
        }
            
    }
}
