
<mat-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
     <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/numeric-stepper/readme.md'"></deja-markdown> 
</mat-card>

<div *ngIf="tabIndex === 1">
    <mat-card class="demo-card">
        <mat-toolbar color="primary">Numeric Stepper</mat-toolbar>
        <mat-card-content>
            <deja-numeric-stepper placeholder="With unit" [min]="1" [max]="10" unit="kms"></deja-numeric-stepper>
            <deja-numeric-stepper placeholder="Without unit" [min]="1" [max]="10" [ngModel]="5"></deja-numeric-stepper>
            <deja-numeric-stepper placeholder="Disabled" [min]="1" [max]="10" unit="kms" disabled></deja-numeric-stepper>
        </mat-card-content>
    </mat-card>
</div>