<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index; stateReset()">
  <mat-tab label="API REFERENCE"></mat-tab>
  <mat-tab label="Basic Example"></mat-tab>
  <mat-tab label="Reactive Form"></mat-tab>
  <mat-tab label="NgModel"></mat-tab>
</mat-tab-group>

<br/>
<ng-container *ngIf="tabIndex === 0">
  <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/combo-list/readme.md'"></deja-markdown>
</ng-container>

<ng-container *ngIf="tabIndex === 1">
  <div class="combo-demo-container">
    <deja-combo-list [itemsToSelect]="itemToSelect" [itemsSelected]="itemSelected" [labelFieldName]="fieldName" (action)="showAction($event)"
      [sortDirection]="sort" [disabled]="disabled" [disableFastActions]="disableFastActions"></deja-combo-list>
  </div>
</ng-container>

<ng-container *ngIf="tabIndex === 2">
  <div class="combo-demo-container medium" fxLayout="column" fxLayoutAlign="center center">
    <deja-combo-list [itemsToSelect]="itemToSelect2" [formControl]="comboCtrl" [labelFieldName]="fieldName" [sortDirection]="sort"
      [disableFastActions]="disableFastActions"></deja-combo-list>
  </div>
</ng-container>

<ng-container *ngIf="tabIndex === 3">
  <div class="combo-demo-container small" fxLayout="column" fxLayoutAlign="center center">
    <deja-combo-list [itemsToSelect]="itemToSelect3" [(ngModel)]="itemSelected3" [labelFieldName]="fieldName" [sortDirection]="sort"
      [disabled]="disabled" [disableFastActions]="disableFastActions"></deja-combo-list>
  </div>
</ng-container>

<!-- conf card -->
<mat-card class="demo demo-card demo-basic" *ngIf="tabIndex > 0">
  <mat-card-content fxLayout="row" fxLayoutAlign="start stretch">
    <div class="combo-demo" fxFlex>
      <h3>Configuration</h3>

      <section class="example-section">
        <span>Sort: </span>
        <mat-radio-group class="combo-radio-group" [(ngModel)]="sort">
          <mat-radio-button class="combo-radio-button" [value]="null" selected> no </mat-radio-button>
          <mat-radio-button class="combo-radio-button" value="asc"> ascending </mat-radio-button>
          <mat-radio-button class="combo-radio-button" value="desc"> descending </mat-radio-button>
        </mat-radio-group>
      </section>

      <section class="example-section">
        <mat-form-field>
          <mat-select [(value)]="fieldName" placeholder="Field to display">
            <mat-option *ngFor="let field of fields" [value]="field">{{field}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <section class="example-section">
        <mat-checkbox color="primary" class="example-margin" [(ngModel)]="disableFastActions">Disable Fast Actions</mat-checkbox>
        <mat-checkbox color="primary" class="example-margin" [(ngModel)]="disabled" (change)="toggleDisable($event)">Disabled</mat-checkbox>
      </section>

    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="combo-demo" fxFlex>
      <ng-container *ngIf="tabIndex === 1">
        <h3>Last Action</h3>
        <div>Type: {{comboAction?.type}}</div>
        <div>Selected Items:</div>
        <pre>{{selectedItems | json}}</pre>
      </ng-container>

      <ng-container *ngIf="tabIndex === 2">
        <div>Selected Items:</div>
        <pre>{{(((comboCtrl.valueChanges | async) || comboCtrl.value) | json) }}</pre>
      </ng-container>

      <ng-container *ngIf="tabIndex === 3">
        <div>Selected Items:</div>
        <pre>{{(itemSelected3 | json) }}</pre>
      </ng-container>
    </div>

  </mat-card-content>

</mat-card>