<mat-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="Basic Example"></mat-tab>
    <mat-tab label="Reactive Form"></mat-tab>
    <mat-tab label="NgModel"></mat-tab>
</mat-tab-group>

<br/>

<ng-container *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/combo-list/readme.md'"></deja-markdown>
</ng-container>

<ng-container *ngIf="tabIndex === 1">
    <div class="combo-demo-container">
        <deja-combo-list [itemsToSelect]="itemToSelect" [labelFieldName]="fieldName" [itemsSelected]="itemSelected" (action)="showAction($event)"
            [sortDirection]="sort" [disabled]="disabled" [disableFastActions]="disableFastActions"></deja-combo-list>
    </div>

    <mat-card class="demo demo-card demo-basic">
        <mat-card-content fxLayout="row" fxLayoutAlign="start stretch">
            <div class="combo-demo" fxFlex>
                <h3>Configuration</h3>

                <section class="example-section">
                    <span>Sort: </span>
                    <mat-radio-group class="combo-radio-group" [(ngModel)]="sort">
                        <mat-radio-button class="combo-radio-button" [value]="null" selected> no </mat-radio-button>
                        <mat-radio-button class="combo-radio-button" value="asc"> ascending </mat-radio-button>
                        <mat-radio-button class="combo-radio-button" value="desc"> descending </mat-radio-button>
                    </mat-radio-group>
                </section>

                <section class="example-section">
                    <mat-form-field>
                        <mat-select [(value)]="fieldName" placeholder="Field to display">
                            <mat-option *ngFor="let field of fields" [value]="field">{{field}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="disableFastActions">Disable Fast Actions</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
                </section>

            </div>

            <mat-divider [vertical]="true"></mat-divider>

            <div class="combo-demo" fxFlex>
                <h3>Last Action</h3>
                <div>Type: {{comboAction?.type}}</div>
                <div>Label selected: {{currentItem?.label}}</div>
                <div>Selected Items:</div>
                <pre>{{selectedItems | json}}</pre>
            </div>
        </mat-card-content>

    </mat-card>
</ng-container>
<ng-container *ngIf="tabIndex === 2">
    <div class="combo-demo-container medium" fxLayout="column" fxLayoutAlign="center center">
        <deja-combo-list [itemsToSelect]="itemToSelect" [formControl]="comboCtrl" fxFlex></deja-combo-list>
    </div>

    <mat-card class="demo demo-card demo-basic">
        <mat-card-content fxLayout="row" fxLayoutAlign="start stretch">
            <div class="combo-demo" fxFlex>
                <div>Selected Items:</div>
                <pre>{{(((comboCtrl.valueChanges | async) || comboCtrl.value) | json) }}</pre>
            </div>
            <!--
            <section class="example-section">
                <button mat-raised-button (click)="log()">Log</button>
            </section> -->

        </mat-card-content>

    </mat-card>
</ng-container>

<ng-container *ngIf="tabIndex === 3">
    <div class="combo-demo-container small" fxLayout="column" fxLayoutAlign="center center">
        <deja-combo-list [itemsToSelect]="items" [(ngModel)]="selectedList"></deja-combo-list>
    </div>

    <mat-card class="demo demo-card demo-basic">
        <mat-card-content fxLayout="row" fxLayoutAlign="start stretch">
            <div class="combo-demo" fxFlex>
                <div>Selected Items:</div>
                <pre>{{(selectedList | json) }}</pre>
            </div>
            <!--
            <section class="example-section">
                <button mat-raised-button (click)="log()">Log</button>
            </section> -->

        </mat-card-content>

    </mat-card>
</ng-container>
