<div (mouseover)="onItemMouseOver()" (mouseout)="onItemMouseLeave()">
    <deja-interval-selector-boundary #openingBoundary [openingBoundary]="true" [model]="intervalSelectorData.model" [intervalId]="intervalSelectorData.intervalId"></deja-interval-selector-boundary>
    <ng-content></ng-content>
    <deja-interval-selector-boundary #closingBoundary [configureBoundary]="{'model':intervalSelectorData.model, 'intervalId':intervalSelectorData.intervalId, 'openingBoundary': false}"></deja-interval-selector-boundary>
</div>
