<div (mouseover)="onItemMouseOver()" (mouseout)="onItemMouseLeave()">
    <deja-interval-selector-boundary #openingBoundary [openingBoundary]="true" [model]="_intervalSelectorData.model" [intervalId]="_intervalSelectorData.intervalId"></deja-interval-selector-boundary>
    <ng-content></ng-content>
    <deja-interval-selector-boundary #closingBoundary [configureBoundary]="{'model':_intervalSelectorData.model, 'intervalId':_intervalSelectorData.intervalId, 'openingBoundary': false}"></deja-interval-selector-boundary>
</div>
