<div id="header" *ngIf="searchArea">
    <mat-form-field deja-child-validator id="input" *ngIf="searchArea">
        <input #inputelement type="text" matInput tabindex="0" [ngModel]="query" [placeholder]="placeholder" [disabled]="disabled" (input)="setQuery$.next(model && model.value)" #model="ngModel">
        <span *ngIf="searchPrefixTemplate" matPrefix>
            <ng-template [ngTemplateOutlet]="searchPrefixTemplate"></ng-template>
        </span>
        <span *ngIf="searchSuffixTemplate" matSuffix>
            <ng-template [ngTemplateOutlet]="searchSuffixTemplate"></ng-template>
        </span>
    </mat-form-field>
</div>
<div id="listheader" *ngIf="headerTemplate">
    <ng-template [ngTemplateOutlet]="headerTemplate"></ng-template>
</div>
<div [id]="listElementId" #listElement class="listcontainer" [attr.depth-max]="depthMax || null" [style.max-height.px]="maxHeight || null" tabindex="1" [class.hasheader]="headerTemplate" [class.dragover]="ddStartIndex !== undefined ? ddStartIndex : null" [attr.keynav]="keyboardNavigation()" (mousedown)="mousedown($event)">
    <!-- <div id="nodata-holder" *ngIf="(!itemList || itemList.length === 0) && !waiter">{{ nodataholder }}</div> -->
    <!-- <div id="error-hint" *ngIf="hintLabel">{{ hintLabel }}</div> -->
    <ng-container *ngIf="!waiter && itemService.itemList$ | async as itemList">
        <viewport [models]="itemList" [itemSize]="viewPortRowHeight" [viewPortMode]="viewPortMode">
            <ng-template #viewPortItemTemplate let-item="model" let-size="size" let-index="index">
                <span id="expandbtn">
                    <mat-icon *ngIf="item.children?.length">arrow_drop_down</mat-icon>
                </span>
                <ng-container *ngIf="(!item.children || !parentItemTemplate) && (item.children || !itemTemplate)">{{ item.label }}</ng-container>
                <ng-container class="item-content" *ngIf="item.children && parentItemTemplate">
                    <ng-template [ngTemplateOutlet]="parentItemTemplate" [ngTemplateOutletContext]="{ $implicit: item, query: query, flatindex: index }"></ng-template>
                </ng-container>
                <ng-container class="item-content" *ngIf="!item.children && itemTemplate">
                    <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, query: query, flatindex: index }"></ng-template>
                </ng-container>
            </ng-template>
        </viewport>
    </ng-container>
    <deja-list-loader id="loader" *ngIf="waiter && !loaderTemplate"></deja-list-loader>
    <ng-container *ngIf="waiter && loaderTemplate">
        <ng-template [ngTemplateOutlet]="loaderTemplate"></ng-template>
    </ng-container>
</div>