<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<md-tab label="OVERVIEW">-->
    <!--<md-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</md-card>-->
    <!--</md-tab>-->
    <md-tab label="API REFERENCE"></md-tab>
    <md-tab label="EXAMPLES"></md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/content-editable/readme.md'"></deja-markdown>
</md-card>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 1">
    <md-toolbar color="primary">Content Editable Demo</md-toolbar>
    <md-card-content>
        <md-checkbox color="primary" [(ngModel)]="designMode">Design Mode</md-checkbox>
        <md-checkbox color="primary" [(ngModel)]="disabled">Disabled</md-checkbox>
    </md-card-content>
    <md-card-content id="contentEditableContainer">
        <span [deja-editable]="designMode" [disabled]="disabled" multiline>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			<br /> Mauris auctor sit amet odio et aliquet. Curabitur auctor eleifend mattis.
			<br /> Nullam sit amet quam tellus. Ut mattis tellus sed erat ultricies ornare.
			<br /> Nulla dictum nisi eu tortor lacinia porttitor. Donec eu arcu et enim cursus viverra.
			<br /> Praesent pulvinar dui nisi, a tincidunt arcu finibus sed.
		</span>
    </md-card-content>
</md-card>