<md-tab-group [selectedIndex]="1">
	<!--<md-tab label="OVERVIEW">-->
	<!--<md-card class="demo-card demo-basic">-->
	<!--TODO-->
	<!--</md-card>-->
	<!--</md-tab>-->
	<md-tab label="API REFERENCE">
		<md-card class="demo-card demo-basic">
			TODO
		</md-card>
	</md-tab>
	<md-tab label="EXAMPLES">


		<md-card class="deja-select-demo demo-card demo-basic">
			<md-toolbar color="secondary">By passing business object</md-toolbar>
			<md-card-content>
				<deja-select id="businessSelect" class="placeholder-icon" type="autocomplete" textField="naqme" [(ngModel)]="businessCountry" valueField="code" [models]="countries">
					<template #placeHolderTemplate>
                        <md-icon role="img" class="material-icons mat-icon" aria-label="info_outline">info_outline</md-icon>
                        <span>Liste des pays</span>
					</template>
				</deja-select>

				<h4>Selected country model :</h4>
				<pre>{{businessCountry | json}}</pre>
			</md-card-content>
		</md-card>

		<md-card class="deja-select-demo demo-card demo-basic">
			<md-toolbar color="secondary">By passing IItemBase</md-toolbar>
			<md-card-content id="selectContainer">
				<div #dialog>
					<deja-dialog *ngIf="dialogVisible" (closed)="dialogVisible = false">
						<deja-message-box type="primary" title="Un titre">
							<b>Je suis un deja-dialog !</b>
							<br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet felis id nisl maximus interdum. Morbi mollis sapien sapien. Vivamus lacinia elementum eros
							<template #actionsTemplate>
								<button id="cancelbtn" md-raised-button>
									Annuler
								</button>
								<button id="okbtn" md-raised-button color="primary">
									Valider
								</button>
							</template>
						</deja-message-box>
					</deja-dialog>
				</div>
				<deja-select id="first" type="autocomplete" class="placeholder-icon" textField="naqme" [(ngModel)]="country" valueField="code" [items]="countries">
					<template #placeHolderTemplate>
						<md-icon id="placeholder-icon">map</md-icon>
						Liste des pays, standard select chargé directement, avec icon
					</template>
				</deja-select>
				<deja-select placeholder="Liste des pays, standard select chargé à la demande" [itemListService]="countriesListService" textField="naqme" valueField="code" [(ngModel)]="country"></deja-select>
				<deja-select placeholder="Autocomplete filtré à la demande" type="autocomplete" [itemListService]="countriesListService" textField="naqme" valueField="code" [(ngModel)]="country"></deja-select>
				<deja-select required selectionClearable placeholder="Liste des pays, avec templating" valueField="code" [(ngModel)]="countryForTemnplate" [items]="countriesForTemplate">
					<template #itemTemplate let-item>
						<span>{{ item.naqme }}</span>
						<span>{{ item.code }}</span>
					</template>
				</deja-select>
				<deja-select type="autocomplete" placeholder="Liste des pays, groupés par la première lettre" textField="naqme" [(ngModel)]="countryWithGroup" [items]="groupedCountries">
					<template #parentItemTemplate let-item>
						<span>{{ item.groupName }}</span>
					</template>
					<template #itemTemplate let-item>
						<!--<span *ngIf="item.depth===1">{{ item.suGroupName }}</span>-->
						<span>{{ item.naqme + ' - ' + item.code }}</span>
					</template>
				</deja-select>
				<deja-select class="row" type="autocomplete" min-search-length="2" placeholder="Autocomplete 2 characters minimum" textField="naqme" valueField="code" [(ngModel)]="country" [items]="countries"></deja-select>
				<deja-select class="row" [dropdownContainerId]="'selectContainer'" hideSelected type="multiselect" textField="naqme" valueField="code" placeholder="Multiselect" [(ngModel)]="multiselectModel" [items]="countriesForMultiselect" [unselectingItem]="confirmUnselection()"> </deja-select>
				<deja-select class="row" [dropdownContainerId]="'selectContainer'" hideSelected type="multiselect" textField="naqme" valueField="code" placeholder="Multiselect avec template de selection" [(ngModel)]="multiselectModel" [items]="countriesForMultiselect">
					<template #selectedTemplate let-item>
						<span id="flight">
							<i *ngIf="item.code !== 'CH' && item.code !== 'FR'" class="material-icons">flight_land</i>
							<i *ngIf="item.code === 'FR'" class="material-icons">flight_landflight_takeoff</i>
							<i *ngIf="item.code === 'CH'" class="material-icons">flight_takeoff</i>
							<span>{{ item.naqme + ' - ' + item.code }}</span>
						</span>
					</template>
				</deja-select>
				<ul>
					<li *ngFor="let item of multiselectModel">
						<span>{{ item.naqme }}</span>
					</li>
				</ul>
				<deja-select class="row" type="autocomplete" placeholder="Autocomplete avec la recherche en gras" textField="naqme" valueField="code" [(ngModel)]="country" [items]="countries">
					<template #itemTemplate let-query="query" let-item>
						<deja-bold-query [query]="query" [value]="item.naqme"></deja-bold-query>
					</template>
					<template #hintTemplate>
						<span class="validation-error">
							Hint pour les errers de validations par exemple!
						</span>
					</template>
				</deja-select>
			</md-card-content>
		</md-card>

	</md-tab>
</md-tab-group>