<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
	<!--<md-tab label="OVERVIEW">-->
	<!--<md-card class="demo-card demo-basic">-->
	<!--TODO-->
	<!--</md-card>-->
	<!--</md-tab>-->
	<md-tab label="API REFERENCE"></md-tab>
	<md-tab label="SIMPLE EXAMPLES"></md-tab>
	<md-tab label="ADVANCED EXAMPLES"></md-tab>
	<md-tab label="TEMPLATING"></md-tab>
	<md-tab label="PRE-EVENTS AND ON_DEMAND"></md-tab>
	<md-tab label="PERFORMANCES"></md-tab>
</md-tab-group>

<deja-dialog *ngIf="dialogVisible">
	<deja-message-box type="primary" title="Un titre">
		Please confirm your operation!
		<ng-template #actionsTemplate>
			<button id="cancelbtn" md-raised-button (click)="dialogResponse$.next('cancel')">Annuler</button>
			<button id="okbtn" md-raised-button color="primary" (click)="dialogResponse$.next('ok')">Valider</button>
		</ng-template>
	</deja-message-box>
</deja-dialog>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
	<deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/select/readme.md'"></deja-markdown>
</md-card>

<div *ngIf="tabIndex === 1">
	<md-card class="deja-select-demo demo-card demo-basic">
		<md-toolbar color="primary">Simple Usage</md-toolbar>
		<md-card-content>
			<div>Just passing an array of objects</div>
			<div fxLayout="row">
				<span fxFlex="0 0 45%" fxLayout="column">
					<deja-select fxFlex="0 0 auto" placeholder="Select mode" [(ngModel)]="businessCountry" textField="naqme" valueField="code" [models]="countries"></deja-select>
					<deja-select fxFlex="0 0 auto" placeholder="Autocomplete" type="autocomplete" [(ngModel)]="businessCountry" textField="naqme" valueField="code" [models]="countries"></deja-select>
				</span>
				<span fxFlex="0 0 45%" fxFlexOffset="5%">
					<h4>Selected country model :</h4>
					<pre>{{businessCountry | json}}</pre>
				</span>
			</div>
		</md-card-content>
	</md-card>
	<md-card class="deja-select-demo demo-card demo-basic">
		<md-toolbar color="primary">Keyboard Navigation</md-toolbar>
		<md-card-content>
			<div>deja-select has some keyboard navigation feature</div>
			<div fxLayout="row">
				<span fxFlex="0 0 45%" fxLayout="column">
					<deja-select fxFlex="0 0 auto" placeholder="Select a country" [(ngModel)]="businessCountry" textField="naqme" valueField="code" [models]="countries"></deja-select>
				</span>
				<ul fxFlex="0 0 50%" fxFlexOffset="5%" id="shortcut-list">
					<li>Press <span class="keyboard-key">↑</span> to select the previous item</li>
					<li>Press <span class="keyboard-key">↓</span> to select the next item</li>
					<li>Press <span class="keyboard-key">Alt</span> + <span class="keyboard-key">↑</span> to toogle the dropdown</li>
					<li>Press <span class="keyboard-key">Alt</span> + <span class="keyboard-key">↓</span> to toogle the dropdown</li>
					<li>Press <span class="keyboard-key">PageUp</span> to select the next page item</li>
					<li>Press <span class="keyboard-key">PageDown</span> to select the previous page item</li>
					<li>Press <span class="keyboard-key">Home</span> to select the first item</li>
					<li>Press <span class="keyboard-key">End</span> to select the last item</li>
					<li>Press <span class="keyboard-key">Space</span> to collapse or expand a group header</li>
					<li>Press <span class="keyboard-key">Enter</span> to select the current item and close the dropdown</li>
					<li>Press <span class="keyboard-key">A</span>..<span class="keyboard-key">Z</span>  <span class="keyboard-key">0</span>..<span class="keyboard-key">9</span> to select the next item started with the pressed key</li>
				</ul>
			</div>
		</md-card-content>
	</md-card>
	<md-card class="deja-select-demo demo-card demo-basic">
		<md-toolbar color="primary">Clearable content</md-toolbar>
		<md-card-content>
			<div>Add the selectionClearable attribute to enable the clear button</div>
			<deja-select class="demo-half-width" placeholder="Clearable content" selectionClearable [(ngModel)]="businessCountry" textField="naqme" valueField="code" [models]="countries"></deja-select>
		</md-card-content>
	</md-card>
	<md-card class="deja-select-demo demo-card demo-basic">
		<md-toolbar color="primary">Disabled select</md-toolbar>
		<md-card-content>
			<div>
				<md-checkbox [(ngModel)]="disabled" color="primary">Check me to disable select below</md-checkbox>
			</div>
			<deja-select class="demo-half-width" placeholder="Disabled select" [disabled]="disabled" selectionClearable [(ngModel)]="businessCountry" textField="naqme" valueField="code" [models]="countries"></deja-select>
		</md-card-content>
	</md-card>
</div>

<div *ngIf="tabIndex === 2">
	<md-card class="deja-select-demo demo-card demo-basic">
		<md-toolbar color="primary">Multiselect</md-toolbar>
		<md-card-content>
			<div>Multiselect example</div>
			<div fxLayout="column">
				<div fxLayout="row">
					<span fxFlex="0 0 45%" fxLayout="column">
						<deja-select fxFlex="0 0 auto" hideSelected type="multiselect" textField="naqme" valueField="code" placeholder="Selection hidden" [(ngModel)]="multiselectModel" [items]="countriesForMultiselect"> </deja-select>
					</span>
					<span fxFlex="0 0 45%" fxFlexOffset="5%">
						<h4>Selected country model :</h4>
						<ul>
							<li *ngFor="let item of multiselectModel">
								<span>{{ item.naqme }}</span>
							</li>
						</ul>
					</span>
				</div>
				<div fxLayout="row">
					<span fxFlex="0 0 45%" fxLayout="column">
						<deja-select fxFlex="0 0 auto" [readonly]="readonlyMultiSelect" [disabled]="disableMultiSelect" dropdownContainerId="scrollable-content" type="multiselect" textField="naqme" valueField="code" selectedItemsPosition="below" placeholder="Selection visible and below" [(ngModel)]="multiselectModel" [items]="countriesForMultiselect"> </deja-select>
					</span>
					<span fxFlex="0 0 45%" fxFlexOffset="5%">
						<section fxFlex="1 0 auto" fxLayout="row">
							<section fxLayout="column">
								<span>Read only : </span>
								<span class="disable-check">Disable : </span>
							</section>
							<section fxLayout="column" fxFlexOffset="5%">
								<md-checkbox [(ngModel)]="readonlyMultiSelect" [color]="'primary'"></md-checkbox>
								<md-checkbox class="disable-check" [(ngModel)]="disableMultiSelect" [color]="'primary'"></md-checkbox>
							</section>
						</section>
					</span>
				</div>
			</div>
		</md-card-content>
		<md-toolbar color="primary">Grouping</md-toolbar>
		<md-card-content>
			<div>Grouping example</div>
    		<deja-select class="demo-half-width" textField="naqme" valueField="code" [items]="groupedCountries"></deja-select>
		</md-card-content>
		<md-toolbar color="primary">Autocomplete</md-toolbar>
		<md-card-content>
			<div>Autocomplete 2 characters minimum</div>
			<deja-select class="demo-half-width" type="autocomplete" [itemListService]="countriesListService" textField="naqme" valueField="code" min-search-length="2"></deja-select>
		</md-card-content>
	</md-card>
</div>

<div *ngIf="tabIndex === 3">
	<md-card class="deja-select-demo demo-card demo-basic">
		<md-toolbar color="primary">Templating Examples</md-toolbar>
		<md-card-content>
			<h1>Item Template</h1>
			<div>An exemple with auto sized item template</div>
			<deja-select #news type="select" viewportMode="auto" textField="title" searchField="description" [models]="news$">
				<ng-template #itemTemplate let-item let-flatindex="flatindex">
					<news-card [item]="item.model" (imageLoaded)="imageLoaded(item)"></news-card>
				</ng-template>
			</deja-select>
			<h1>Selected Template</h1>
			<div>Multi select with template for selected items</div>
			<deja-select hideSelected type="multiselect" textField="naqme" valueField="code" placeholder="Select one or more countries" [(ngModel)]="multiselectModel" [items]="countriesForMultiselect">
				<ng-template #selectedTemplate let-item>
					<span id="flight">
						<i *ngIf="item.code !== 'CH' && item.code !== 'FR'" class="material-icons">flight_land</i>
						<i *ngIf="item.code === 'FR'" class="material-icons">flight_landflight_takeoff</i>
						<i *ngIf="item.code === 'CH'" class="material-icons">flight_takeoff</i>
						<span>{{ item.naqme + ' - ' + item.code }}</span>
					</span>
				</ng-template>
			</deja-select>
			<h1>Place Holder and Group Template</h1>
			<div>Select with a place holder template containing an icon</div>
			<span fxLayout="row">
				<deja-select fxFlex="0 0 45%" type="autocomplete" class="placeholder-icon" textField="naqme" valueField="code" [items]="countries">
					<ng-template #placeHolderTemplate>
						<md-icon id="placeholder-icon">public</md-icon>
						Place Holder Template
					</ng-template>
				</deja-select>
				<deja-select fxFlex="0 0 45%" fxFlexOffset="5%" type="autocomplete" placeholder="Group Template" textField="naqme" [items]="groupedCountries">
					<ng-template #parentItemTemplate let-item>
						<md-icon id="placeholder-icon">public</md-icon>&nbsp;
						<span>{{ item.groupName }}</span>
					</ng-template>
				</deja-select>
			</span>
			<h1>Hint and Suffix Templates</h1>
			<span fxLayout="row">
				<deja-select fxFlex="0 0 45%" placeholder="Hint template select" textField="naqme" valueField="code" [items]="countries">
					<ng-template #hintTemplate>
						<span class="validation-error">
							Hint template. Can be used for the validations errors for exemple!
						</span>
					</ng-template>
				</deja-select>
				<deja-select fxFlex="0 0 45%" fxFlexOffset="5%" placeholder="Suffix template selelct" textField="naqme" valueField="code" [items]="countries">
					<ng-template #suffixTemplate>
						<md-icon id="placeholder-icon">public</md-icon>
					</ng-template>
				</deja-select>
			</span>
		</md-card-content>
	</md-card>
</div>

<div *ngIf="tabIndex === 4">
	<md-card class="deja-select-demo demo-card demo-basic">
		<md-toolbar color="primary">Pre-Events and on Demand</md-toolbar>
		<md-card-content>
			<h1>On Demand Loading </h1>
			<div>The items are loaded after the drop down is opened</div>
			<deja-select #ondemand class="demo-half-width" textField="naqme" valueField="code" [loadingItems]="loadingItems()" [placeholder]="onDemandPlaceHolder"></deja-select>
			<h1>Confirm Selection and Unselection </h1>
			<div>A dialog will confirm the selection or the unselection of an item</div>
			<deja-select hideSelected class="demo-half-width" type="multiselect" textField="naqme" valueField="code" placeholder="Selection hidden" [(ngModel)]="multiselectModel" [items]="countriesForMultiselect" [selectingItem]="confirmDialog()" [unselectingItem]="confirmDialogWithPromise()"> </deja-select>
			<h1>Confirm Expand and Collapse </h1>
			<div>A dialog will confirm the expand and collapse or an item if the children are not loaded. The children will be loaded asynchronously after the item expansion.</div>
			<deja-select #onexpand class="demo-half-width" textField="naqme" valueField="code" [items]="onDemandGroupedCountries" [expandingItem]="expandingItems()" [collapsingItem]="collapsingItems()"></deja-select>
		</md-card-content>
	</md-card>
</div>

<div *ngIf="tabIndex === 5">
	<md-card class="deja-select-demo demo-card demo-basic">
		<md-toolbar color="primary">Performance Examples</md-toolbar>
		<md-card-content>
			<h1>10K items with Item Template </h1>
			<div>An exemple with 10000 auto sized templatized items</div>
			<deja-select #news dropdownContainerId="scrollable-content" placeholder="10000 items select" type="select" viewportMode="auto" textField="title" searchField="description" [models]="bigNews$">
				<ng-template #itemTemplate let-item let-flatindex="flatindex">
					<news-card [item]="item.model" (imageLoaded)="imageLoaded(item)"></news-card>
				</ng-template>
			</deja-select>

			<h1>Fixed size rows 100K items</h1>
			<div>An exemple with 100000 fixed size items</div>
			<span fxLayout="row">
				<deja-select #bigCountries fxFlex="0 0 45%" type="autocomplete" dropdownContainerId="scrollable-content" placeholder="100000 items select" [items]="bigCountries$" textField="naqme" valueField="code"></deja-select>
				<span fxFlex="0 0 45%" fxFlexOffset="5%">
					<h4 id="vptitle">Viewport Infos:</h4>
					<div *ngFor="let info of viewPortInfos">
						<span class="vpinfoname">{{info.name}}</span>
						<span>{{info.value}}</span>
					</div>
				</span>
			</span>
		</md-card-content>
	</md-card>
</div>