.deja-select-demo {
	&.demo-card {
		margin: 16px;
		md-card-content {
			padding: 16px;
			display: flex;
			flex-direction: column;
			deja-select {
				flex-basis: auto;
				flex-grow: 0;
				flex-shrink: 0;
				position: relative;
				margin-top: 2rem;
			}
		}
	}
	&.demo-basic {
		padding: 0;
	}
	&.demo-full-width {
		width: 100%;
	}
	.demo-half-width {
		width: 45%;
	}
	&.demo-icons {
		font-size: 100%;
		height: inherit;
		vertical-align: top;
		width: inherit;
	}
	#flight {
		display: flex;
		align-items: center;
	}
    news-card {
        width: 100%;
        .text {
            overflow-x: hidden;
        }
    }
    .vpinfoname {
        display: inline-block;
        width: 7rem;    
    }
    .disable-check {
        margin-top: .5rem;
    }
}