@use '~@angular/material'as mat;

@mixin tooltip-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .deja-overlay-container {
        #tooltip {
            @include mat.elevation(1);
            background-color: mat.get-color-from-palette($background, card);
            border-radius: 2px;
            color: mat.get-color-from-palette($foreground, text);
        }
    }
}
