@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/theming/theming';

@mixin tooltip-theme($theme) {
	$primary: map-get($theme, primary);
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);

	.deja-overlay-container {
		#tooltip {
			@include mat-elevation(1);
			background-color: mat-color($background, card);
			border-radius: 2px;
			color: mat-color($foreground, text);
		}
	}
}
