:host {
	display: block;
	#deja-grid-header {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		overflow: hidden;
        position: relative;
		.column-header-wrapper {
			padding: 0 !important;
			margin: 0 !important;
			display: inline-flex;
			align-items: center;
			position: relative;
			overflow: hidden;
			.sort-waiter {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				&:after,
				&:before {
					content: "loop";
					width: 100%;
				}
				.material-icons {
					opacity: 0.65;
					animation: spin 1s infinite .5s linear;
				}
			}
			[separator] {
				flex: 0 0 4px;
				padding: 0.5rem 0;
				margin-right: 0.3rem;
			}
			.column-header {
				flex: 1 1 auto;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				padding: 0.5rem 0.1rem;
				display: block;
			}
			deja-sort-indicator {
				opacity: 0.6;
				flex: 0 0 auto;
			}
		}
		&[sizable] {
			.column-header-wrapper:not([sizeable="false"]) {
				[separator] {
					cursor: ew-resize;
				}
			}
		}
	}
}