deja-bold-query {
    div {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .highlight {
        font-weight: bold;
    }
    .yellowBackgroundColorHighlight {
        font-weight: inherit;
        background-color: yellow;
        color: #111;
    }
}
