<ng-container *ngFor="let but of nonClosingButtons">
    <button type="button" *ngIf="!but.label" mat-icon-button (click)="emit(but)">
        <mat-icon *ngIf="but.icon" color="primary" role="img" aria-hidden="true">{{but.icon}}</mat-icon>
    </button>
    <button type="button" *ngIf="but.label" mat-raised-button color="primary" [name]="but.name" (click)="emit(but)">
        <mat-icon *ngIf="but.icon" role="img" aria-hidden="true">{{but.icon}}</mat-icon>{{but.label}}
    </button>
</ng-container>

<div class="deja-popup-spacer">&nbsp;</div>

<ng-container *ngFor="let but of buttons">
    <button type="button" *ngIf="!but.label" mat-icon-button (click)="emit(but)">
        <mat-icon *ngIf="but.icon" color="primary" role="img" aria-hidden="true">{{but.icon}}</mat-icon>
    </button>
    <button type="button" *ngIf="but.label" mat-raised-button color="primary" [name]="but.name" (click)="emit(but)">
        <mat-icon *ngIf="but.icon" role="img" aria-hidden="true">{{but.icon}}</mat-icon>{{but.label}}
    </button>
</ng-container>
