<button *ngFor="let but of nonClosingButtons" type="button" mat-button color="primary"
    [name]="but.name" (click)="emit(but)" [ngClass]="{'mat-raised-button': but.label, 'mat-icon-button': !but.label}">
    <mat-icon *ngIf="but.icon" role="img" aria-hidden="true">{{but.icon}}</mat-icon>{{but.label}}
</button>

<div class="deja-popup-spacer">&nbsp;</div>

<button *ngFor="let but of buttons" type="button" mat-button color="primary"
    [name]="but.name" (click)="emit(but)" [ngClass]="{'mat-raised-button': but.label, 'mat-icon-button': !but.label}">
    <mat-icon *ngIf="but.icon" role="img" aria-hidden="true">{{but.icon}}</mat-icon>{{but.label}}
</button>
