@import '~@angular/material/theming';

@mixin data-grid-grouparea-theme($theme) {
    $primary: map-get($theme, primary);

    #deja-grid-grouparea {
        border: 1px solid rgba(0, 0, 0, 0.38);
        
        #placeholder {
            color: rgba(0, 0, 0, 0.38);
        }
        
        .group-wrapper {
            background-color: mat-color($primary, A400);
            >&:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
            #close-button {
                color: #777777;
            }
        }
    }
}