:host mat-card mat-card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    mat-form-field {
        width: 48px;
        height: 60px;

        //     .mat-form-field-flex {
        //         padding: 0;
        //         margin: 0;
        //     }
    }
}
