<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/v2/numeric-stepper/readme.md'"></deja-markdown>
</mat-card>

<div *ngIf="tabIndex === 1">
    <mat-card class="demo-card">
        <mat-toolbar color="primary">Numeric Stepper</mat-toolbar>
        <mat-card-content>
            <!-- <div>
                <h3>With step of 20</h3>
                <deja-numeric-stepper [(ngModel)]="value1" [maxLength]="3" [step]="20"></deja-numeric-stepper>
            </div>
            <div>
                <h3>With a format of 2 decimals</h3>
                <deja-numeric-stepper [(ngModel)]="value2" [maxLength]="3" numberFormat="1.2-2" [step]="0.5"></deja-numeric-stepper>
            </div>
            <div>
                <h3>With a format of 2 digits min</h3>
                <deja-numeric-stepper [(ngModel)]="value3" [maxLength]="2" numberFormat="2."></deja-numeric-stepper>
            </div>
            <div [formGroup]="numberForm">
                <h3>With a validator (has to be positive)</h3>
                <deja-numeric-stepper formControlName="numberValue" [maxLength]="1"></deja-numeric-stepper>
                <mat-error>{{ numberForm.get('numberValue').errors ? numberForm.get('numberValue').errors[0] : ''}}</mat-error>
            </div>
            <div>
                <h3>Disabled</h3>
                <deja-numeric-stepper [ngModel]="42" [disabled]="true"></deja-numeric-stepper>
            </div> -->
            <div>
                <mat-form-field appearance="outline">
                    <!-- <mat-label>min : 0, max : 10, value : -5</mat-label> -->
                    <deja-numeric-stepper (increment)="value1 = value1 + 5" (decrement)="value1 = value1 -5"></deja-numeric-stepper>
                    <input matInput type="text" min="0" max="10" [(ngModel)]="value1" #numericStepper="ngModel" />
                    <mat-error *ngIf="numericStepper.errors?.rangeError">
                        Min : {{numericStepper.errors?.rangeError?.min}}, Max : {{numericStepper.errors?.rangeError?.max}}
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>
