@import "../../scss/variables/colors";
.treelist-demo {
    &.demo-card {
        margin: 16px;
        .listContainer {
            height: 700px;
            padding: 16px;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            deja-tree-list {
                margin: 2rem;
                flex: 0 1 50%;
                position: relative;
                li {
                    &.odd {
                        background: rgba($secondary, 0.1);
                        &[current="true"] {
                            background: rgba($secondary, 0.5);
                        }
                        &.selected {
                            background: rgba($secondary, 0.9);
                        }
                    }
                }
            }
        }
    }
    &.demo-basic {
        padding: 0;
    }
    &.demo-full-width {
        width: 100%;
    }
    &.demo-icons {
        font-size: 100%;
        height: inherit;
        vertical-align: top;
        width: inherit;
    }
    &.business-object {
        md-card-content {
            padding: 30px;
            .json-view {
                margin-left: 40px;
            }
        }
    }
    .itemindex {
        float: right;
        margin-right: 1rem;
        text-align: right;
    }
    md-toolbar {
        margin-bottom: 1rem;
    }
    button {
        margin-top: 2rem;
    }
    [mdSuffix] {
        display: flex;
        justify-content: flex-end;
        [md-icon-button] {
            position: absolute;
            bottom: -7px;
            right: 0;
        }
    }
    #headerTemplateContent {
        padding: 0.4rem;
        display: block;
        background-color: $secondary;
        color: #fff;
        cursor: pointer;
        display: flex;
        #title {
            flex: 1 0 auto;
        }
        step-indicator {
            flex: 0 0 auto;
        }
    }
    [ddid] {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.item-base-cursor,
.country-target-cursor {
    #content {
        background-color: $secondary !important;
        color: #fff;
        opacity: 0.8;
        display: flex;
        align-items: center;
        cursor: pointer;
        &::before {
            display: block;
            width: 0.5rem;
            content: " ";
        }
    }
}