<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<md-tab label="OVERVIEW">-->
    <!--<md-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</md-card>-->
    <!--</md-tab>-->
    <md-tab label="API REFERENCE"></md-tab>
    <md-tab label="EXAMPLES"></md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/tree-list/readme.md'"></deja-markdown>
</md-card>

<div *ngIf="tabIndex === 1">
    <md-card class="treelist-demo demo-card demo-basic business-object">
        <md-toolbar color="primary">By passing business object</md-toolbar>
        <md-card-content>
            <div fxLayout="row">
                <deja-tree-list fxFlex="0 0 50%" [maxHeight]="400" min-search-length="0" searchArea sortable multiSelect (selectedChange)="onSelectBusinessObject($event)" nodataholder="Pas de données" placeholder="Liste des pays" [models]="countries"></deja-tree-list>
                <div fxFlex="0 0 50%" class="flex json-view">
                    <h4>Selected country model :</h4>
                    <pre>{{selectedCountries | json}}</pre>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="treelist-demo demo-card demo-basic">
        <md-toolbar color="primary">Treelist demo - Cas standards</md-toolbar>
        <md-card-content class="listContainer">
            <deja-tree-list min-search-length="0" searchArea multiSelect nodataholder="Pas de données" placeholder="Liste des pays" [itemListService]="countriesListService" [deja-mouse-draggable]="getDragContext()" [valueField]="code">
                <ng-template #itemTemplate let-item let-flatindex="flatindex">
                    <span [attr.ddid]="item.code">{{ item.naqme + ' - ' + item.code }}</span>
                </ng-template>
            </deja-tree-list>
            <deja-tree-list min-search-length="0" expandButton searchArea sortable multiSelect (selectedChange)="onSelectionChanged($event)" nodataholder="Pas de données" placeholder="Liste des pays, groupés par la première lettre" textField="naqme" [items]="groupedCountries$" (itemDragStart)="onItemDragStart($event)" #groupedtreelist childrenField="children">
                <ng-template #headerTemplate>
                    <span id="headerTemplateContent" (click)="groupedtreelist.sort()">
                        <span id="title">
                            This is a header template, click to sort the list.
                        </span>
                    <deja-sort-indicator [sort-infos]="groupedtreelist.sortInfos"></deja-sort-indicator>
                    </span>
                </ng-template>
                <ng-template #itemTemplate let-item let-flatindex="flatindex">
                    <span>{{ item.naqme + ' - ' + item.code }}</span>
                </ng-template>
                <ng-template #searchSuffixTemplate>
                    <button id="more" md-icon-button (click)="onSuffixClicked()">
                        <md-icon>more_vert</md-icon>
                    </button>
                </ng-template>
            </deja-tree-list>
        </md-card-content>
        <md-card-content class="dropzone">
            <div>
                Selected Items
                <ul>
                    <li *ngFor="let selectedInfo of selectedInfos">
                        <span>{{ selectedInfo }}</span>
                    </li>
                </ul>
            </div>
            <div>
                Vous pouvez également dropper des items de la liste dans la zone rouge ci dessous (celle-ci affichera une représentation JSON de l'objet droppé) :
            </div>
            <div #dropArea [deja-mouse-droppable]="getDropContext(dropArea)" [deja-droppable]="{dragovercallback: onDivDragOver, dropcallback:onDivDropEvent}" style="border:1px solid red;min-height:150px;"></div>
        </md-card-content>
    </md-card>

    <md-card class="treelist-demo demo-card">
        <md-toolbar color="primary">
            <div class="flexContainer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
                <span fxFlex="1 1 auto">Treelist demo - Cas particuliers</span>
                <md-input-container fxFlex="0 0 5rem">
                    <input mdInput type="number" [(ngModel)]="ensureIndex">
                </md-input-container>
                <button fxFlex="0 0 auto" md-button (click)="news.ensureItemVisible(ensureIndex)">Ensure index</button>
            </div>
        </md-toolbar>
        <md-card-content class="listContainer" fxLayout="row">
            <deja-tree-list #treeList fxFlex [items]="loremList" viewportMode="variable" expandButton searchArea sortable placeholder="Tree list avec des tailles de rows différentes"></deja-tree-list>
        </md-card-content>
        <md-card-content>
            <deja-tree-list #news id="news" [models]="news$" viewportMode="auto" [viewPortRowHeight]="100" searchField="description" multiSelect searchArea sortable placeholder="Automatic row height TreeView ">
                <ng-template #itemTemplate let-item let-flatindex="flatindex">
                    <news-card [item]="item.model" (imageLoaded)="imageLoaded(item)"></news-card>
                </ng-template>
            </deja-tree-list>
        </md-card-content>
        <md-card-content class="empty">
            Empty treelist
            <deja-tree-list nodataholder="Pas de données" [models]="[]"></deja-tree-list>
        </md-card-content>
    </md-card>
</div>