:host {
	padding: 0 !important;
	margin: 0 !important;
	position: absolute;
	overflow: auto;
	z-index: 900;
	opacity: 0;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-property: opacity;
    display: block;
	&[halign],
	&[valign] {
		opacity: 1;
	}
}