:host {
	margin: 0;
	padding: 0;
	overflow: hidden;
	>span {
		float: left;
		margin: 0.1rem;
		border-radius: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.3s;
        padding: 0.5rem;
        cursor: default;
        #close-button {
            font-size: 1rem;
            z-index: 3;
            cursor: pointer;
            vertical-align: middle;
        }
	}
}