<div class="colors-wrapper" id="basecolors" [attr.disabled]="disabled || null">
    <span class="color-fab" basecolor small *ngFor="let color of colors; let index=index" [style.background-color]="disabled ? color.grayScale.toHex() : color.toHex()" [attr.index]="index" [attr.active]="(hilightedBaseIndex$ | async) === index || null"></span>
</div>
<div class="colors-wrapper" id="subcolors" [attr.disabled]="disabled || null" [attr.transition]="subColorsTransition$ | async">
    <ng-container *ngIf="subColors$ | async as subColors">
        <span class="color-fab" subcolor *ngFor="let color of subColors; let index=index" [style.background-color]="disabled ? color.grayScale.toHex() : color.toHex()" [attr.index]="index" [style.transition-duration]="(100*index)+'ms'" [attr.active]="(hilightedSubIndex$ | async) === index || null"></span>
    </ng-container>
</div>
