@import '~@angular/material/theming';

@mixin viewport-2-theme($theme) {
	$primary: map-get($theme, primary);

	viewport {
		#up,
		#down {
			&:hover {
				background-color: mat-color($primary);
				color: mat-color($primary, default-contrast);
			}
		}
	}
}