<md-toolbar color="primary" id="toolbar-demo">
	<span id="logo" fxFlex="0 0 auto">
        <img src="assets/img/logo/hug-logo-bw.svg" alt="HUG Logo" height="30">
	</span>
	<a fxFlex="0 0 auto" md-button routerLink="/">DEJA JS</a>
	<a fxFlex="0 0 auto" md-button routerLink="/components">COMPONENTS</a>
	<a fxFlex="0 0 auto" md-button routerLink="/guides">GUIDES</a>
	<a fxFlex="0 0 auto" md-button target="_blank" href="https://dsi-hug.github.io/dejajs-doc/">DOCUMENTATION</a>
    <span id="theme-title" fxFlex="1 1 auto">Sélectionnez un theme</span>
	<deja-select fxFlex="0 0 5rem" id="theme-selector" [ngModel]="theme" (ngModelChange)="theme = $event?.value">
		<deja-item value="hug" text="HUG"></deja-item>
		<deja-item value="pink" text="Pink"></deja-item>
		<deja-item value="teal" text="Teal"></deja-item>
		<deja-item value="amber" text="Amber"></deja-item>
    </deja-select>
	<a fxFlex="0 0 auto" md-button href="https://github.com/DSI-HUG/dejajs-components" target="_blank">GITHUB</a>
</md-toolbar>

<router-outlet></router-outlet>