:host {
    display: flex;
    flex-direction: column;
    .colors-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin: 1rem 0;
        deja-color-fab {
            float: left;
    }
        #subcolors {
            deja-color-fab {
                opacity: 1;
                }
            }
        }
    &[sub-tr] {
        #subcolors.colors-wrapper {
            deja-color-fab {
        opacity: 0;
        transform: scale(0, 0);
    }
        }
    }
}