<button type="button" *ngIf="!small" [disabled]="disabled" id="colorbtn" mat-fab (click)="show($event)" [ngStyle]="getStyle()"></button>
<button type="button" *ngIf="small" [disabled]="disabled" id="colorbtn" mat-mini-fab (click)="show($event)" [ngStyle]="getStyle()"></button>
<deja-overlay [ownerElement]="ownerElement" overlayBackdropClass="cdk-overlay-dark-backdrop" [isVisible]="isOpen" (closed)="close()" [positions]="positions">
    <deja-color-selector [resetcolor]="resetcolor" [colors]="colors" [ngModel]="value" (colorhover)="colorhover.emit($event)" (ngModelChange)="onColorChange($event)"></deja-color-selector>
</deja-overlay>
