<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="SIMPLE EXAMPLES"></mat-tab>
    <mat-tab label="ADVANCED EXAMPLES"></mat-tab>
    <mat-tab label="TEMPLATING"></mat-tab>
    <mat-tab label="PRE-SELECTIONS"></mat-tab>
    <mat-tab label="PRE-EVENTS AND ON_DEMAND"></mat-tab>
    <mat-tab label="PERFORMANCES"></mat-tab>
    <mat-tab label="REACTIVE FORM"></mat-tab>
</mat-tab-group>

<deja-dialog *ngIf="dialogVisible">
    <deja-message-box type="primary" title="Confirm">
        Please confirm your operation!
        <ng-template #actionsTemplate>
            <button id="cancelbtn" mat-raised-button (click)="dialogResponse$.next('cancel')">Cancel</button>
            <button id="okbtn" mat-raised-button color="primary" (click)="dialogResponse$.next('ok')">Ok</button>
        </ng-template>
    </deja-message-box>
</deja-dialog>

<mat-card appearance="outlined" class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/v2/tree-list/readme.md'"></deja-markdown>
</mat-card>

<div *ngIf="tabIndex === 1">
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Simple Usage</mat-toolbar>
        <mat-card-content>
            <div>Just passing an array of objects</div>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list [(ngModel)]="country" ngModelType="model" textField="naqme" valueField="code" [models]="countries$ | async"></tree-list>
                </span>
                <span class="flex45p flexOffset5p">
                    <h4>Selected country model :</h4>
                    <pre>{{country | json}}</pre>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Keyboard Navigation</mat-toolbar>
        <mat-card-content>
            <div>tree-list has some keyboard navigation feature</div>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list [(ngModel)]="country" textField="naqme" valueField="code" [models]="countries$ | async"></tree-list>
                </span>
                <ul class="flex45p flexOffset5p" id="shortcut-list">
                    <li>Press
                        <span class="keyboard-key">↑</span> to select the previous item</li>
                    <li>Press
                        <span class="keyboard-key">↓</span> to select the next item</li>
                    <li>Press
                        <span class="keyboard-key">Ctrl</span>
                        <span class="keyboard-key">↑</span> to change the current item to the previous</li>
                    <li>Press
                        <span class="keyboard-key">Ctrl</span>
                        <span class="keyboard-key">↓</span> to change the current item to the next</li>
                    <li>Press
                        <span class="keyboard-key">Shift</span>
                        <span class="keyboard-key">↑</span> to change the current item to the previous</li>
                    <li>Press
                        <span class="keyboard-key">Shift</span>
                        <span class="keyboard-key">↓</span> to change the current item to the next</li>
                    <li>Press
                        <span class="keyboard-key">PageUp</span> to select the next page item</li>
                    <li>Press
                        <span class="keyboard-key">PageDown</span> to select the previous page item</li>
                    <li>Press
                        <span class="keyboard-key">Home</span> to select the first item</li>
                    <li>Press
                        <span class="keyboard-key">End</span> to select the last item</li>
                    <li>Press
                        <span class="keyboard-key">Space</span> to collapse/expand a group header or to select/unselect the current item</li>
                    <li>Press
                        <span class="keyboard-key">A</span>..
                        <span class="keyboard-key">Z</span>
                        <span class="keyboard-key">0</span>..
                        <span class="keyboard-key">9</span> to select the next item started with the pressed key</li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Treelist with options</mat-toolbar>
        <mat-card-content>
            <div>These treelists has a list coming from html options</div>
            <span class="flexLayout">
                <tree-list class="flex45p demo-half-width optionstl" [(ngModel)]="fruct">
                    <item value="Apricots" text="My preferred fruct is Apricots"></item>
                    <item value="Banana" text="My preferred fruct is Banana"></item>
                    <item value="Cantaloupe" text="My preferred fruct is Cantaloupe"></item>
                    <item value="Cherries" text="My preferred fruct is Cherries"></item>
                    <item value="Coconut" text="My preferred fruct is Coconut"></item>
                    <item value="Cranberries" text="My preferred fruct is Cranberries"></item>
                    <item value="Durian" text="My preferred fruct is Durian"></item>
                    <item value="Grapes" text="My preferred fruct is Grapes"></item>
                    <item value="Lemon" text="My preferred fruct is Lemon"></item>
                    <item value="Mango" text="My preferred fruct is Mango"></item>
                    <item value="Pineapple" text="My preferred fruct is Pineapple"></item>
                    <item value="Watermelon" text="My preferred fruct is Watermelon"></item>
                </tree-list>
                <tree-list class="flex45p flexOffset5p demo-half-width optionstl" multiSelect="true" [selectedValues]="['Mango', 'Apricots', 'Coconut']">
                    <item value="Apricots" text="Apricots"></item>
                    <item value="Banana" text="Banana"></item>
                    <item value="Cantaloupe" text="Cantaloupe"></item>
                    <item value="Cherries" text="Cherries"></item>
                    <item value="Coconut" text="Coconut"></item>
                    <item value="Cranberries" text="Cranberries"></item>
                    <item value="Durian" text="Durian"></item>
                    <item value="Grapes" text="Grapes"></item>
                    <item value="Lemon" text="Lemon"></item>
                    <item value="Mango" text="Mango"></item>
                    <item value="Pineapple" text="Pineapple"></item>
                    <item value="Watermelon" text="Watermelon"></item>
                </tree-list>
            </span>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">String Array Model</mat-toolbar>
        <mat-card-content>
            <span class="flexLayout flexAlignCenter flexJustifyStart">
                <tree-list class="demo-half-width" [(ngModel)]="fruct" [models]="fructs"></tree-list>
                <span class="flex50p flexOffset5p">Selected fruct model is: {{ fruct }}</span>
            </span>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Disabled tree-list</mat-toolbar>
        <mat-card-content>
            <div>
                <mat-checkbox [(ngModel)]="disabled" color="primary">Check me to disable tree-list below</mat-checkbox>
            </div>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list searchArea nodataholder="No record to display" ngModelType="model" maxHeight="auto" [disabled]="disabled" selectionClearable [(ngModel)]="deepCountry" textField="l1.l2.name" valueField="l1.l2.value" [models]="deepCountries$ | async"></tree-list>
                </span>
                <span class="flex45p flexOffset5p">
                    <h4>Selected deep country model :</h4>
                    <pre>{{deepCountry | json}}</pre>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Multi level</mat-toolbar>
        <mat-card-content>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list nodataholder="No record to display" maxHeight="auto" [models]="folders" textField="label" childrenField="children"></tree-list>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="tabIndex === 2">
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Multi selection</mat-toolbar>
        <mat-card-content>
            <div>Multi selection example</div>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list multiSelect textField="naqme" valueField="code" [selectedModels]="multiselectModel" (selectedChange)="multiselectModelChange($any($event).models)" [models]="countriesForMultiselect"></tree-list>
                </span>
                <span class="flexLayout flexColumn flex45p flexOffset5p">
                    <h4>Multi selection shortcuts :</h4>
                    <ul id="shortcut-list">
                        <li>Press
                            <span class="keyboard-key">Ctrl</span>
                <span class="keyboard-key">Space</span> to add/remove the current item to the selection</li>
                <li>Press
                    <span class="keyboard-key">Shift</span>
                    <span class="keyboard-key">↑</span> to select a range orf items</li>
                <li>Press
                    <span class="keyboard-key">Shift</span>
                    <span class="keyboard-key">↓</span> to select a range orf items</li>
                </ul>
                <h4>Selected country model :</h4>
                <ul>
                    <li *ngFor="let item of multiselectModel">
                        <span>{{ item.naqme }}</span>
                    </li>
                </ul>
                </span>
            </div>
        </mat-card-content>
        <mat-toolbar color="primary">Grouping and Drag Drop</mat-toolbar>
        <mat-card-content>
            <div>Grouping example</div>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn noselect">
                    <tree-list #dragdroplist [items]="groupedCountryItems$ | async" [mouse-draggable]="getDragContext(dragdroplist)">
                        <ng-template #itemTemplate let-item let-flatindex="flatindex">
                            <span>{{ item.label }}</span>
                </ng-template>
                <ng-template #parentItemTemplate let-item>
                    <mat-icon id="placeholder-icon">public</mat-icon>&nbsp;
                    <span>{{ item.label }}</span>
                </ng-template>
                </tree-list>
                </span>
                <span class="flex45p flexOffset5p">
                    <div>You can drag and drop items the the area bellow (That will display a JSON representation of the dropped model) :</div>
                    <div #dropArea [mouse-droppable]="getDropContext(dropArea)" style="border:1px solid red;min-height:150px;"></div>
                </span>
            </div>
        </mat-card-content>
        <mat-toolbar color="primary">Autocomplete</mat-toolbar>
        <mat-card-content>
            <div>Autocomplete 2 characters minimum</div>
            <tree-list class="demo-half-width" nodataholder="No record to display" [models]="countries$ | async" textField="naqme" valueField="code" min-search-length="2"></tree-list>
        </mat-card-content>
        <mat-toolbar color="primary">Variable Row Size</mat-toolbar>
        <mat-card-content>
            <div>Variable Row height example</div>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list [items]="loremList$ | async" multiSelect viewPortMode="variable" searchArea></tree-list>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="tabIndex === 3">
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Templating Examples</mat-toolbar>
        <mat-card-content>
            <h1>Item Template</h1>
            <div>An exemple with auto sized item template</div>
            <tree-list #news class="news" viewPortMode="auto" textField="title" searchField="description" [models]="news$ | async">
                <ng-template #itemTemplate let-item let-flatindex="flatindex">
                    <news-card [item]="item.model" (imageLoaded)="imageLoaded(item)"></news-card>
                </ng-template>
            </tree-list>
            <h1>Header Template and Group Template</h1>
            <div>Treelist with an header template</div>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list #headertreelist textField="naqme" valueField="code" [models]="sortedCountries$ | async">
                        <ng-template #headerTemplate>
                            <span id="headerTemplateContent" [style.width.px]="(headertreelist.viewPort$ | async)?.element?.clientWidth" (click)="sortCountries$.next()">
                                <span id="title">
                                    This is a header template, click to sort the list.
                                </span>
                <deja-sort-indicator [sort-infos]="sortInfos$ | async"></deja-sort-indicator>
                </span>
                </ng-template>
                </tree-list>
                </span>
                <span class="flex45p flexLayout flexColumn flexOffset5p">
                    <tree-list textField="naqme" [items]="groupedCountryItems$ | async">
                        <ng-template #parentItemTemplate let-item>
                            <mat-icon id="placeholder-icon">public</mat-icon>&nbsp;
                            <span>{{ item.groupName }}</span>
                </ng-template>
                </tree-list>
                </span>
            </div>
            <h1>Search Prefix and Suffix Templates</h1>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list searchArea textField="naqme" valueField="code" [models]="countries$ | async">
                        <ng-template #searchPrefixTemplate>
                            <mat-icon (click)="onFilterTemplateClicked('Prefix')">public</mat-icon>
                        </ng-template>
                        <ng-template #searchSuffixTemplate>
                            <mat-icon (click)="onFilterTemplateClicked('Suffix')">more_vert</mat-icon>
                        </ng-template>
                    </tree-list>
                </span>
            </div>
            <h1>Item Template including a control</h1>
            <div class="flexLayout">
                <span class="flex45p flexLayout flexColumn">
                    <tree-list searchArea textField="naqme" valueField="code" [models]="numbers">
                        <ng-template #itemTemplate let-item let-flatindex="flatindex">
                            <span *ngIf="!item.selected; else selected">{{item.model}} Text d'alignement</span>
                <ng-template #selected>
                    <span deja-numeric-stepper-container deja-numeric-stepper-form-field>
                                <input matInput type="text" [ngModel]="item.model" #numericStepper="ngModel" />
                                <deja-numeric-stepper layout="horizontal" (increment)="item.model = item.model + 20" (decrement)="item.model = item.model - 20"></deja-numeric-stepper>
                            </span>
                    <span>Text d'alignement</span>
                </ng-template>
                </ng-template>
                </tree-list>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="tabIndex === 4">
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Pre-Selections from html inputs</mat-toolbar>
        <mat-card-content>
            <div class="flexLayout">
                <div class="flex45p flexLayout flexColumn">
                    <div>Preselection with the input selectedModel</div>
                    <tree-list class="fixed-height" selectedModel="Mango" [models]="fructs"></tree-list>
                </div>
                <div class="flex45p flexLayout flexColumn flexOffset15px">
                    <div>Preselections with the input selectedModels</div>
                    <tree-list class="fixed-height" multiSelect="true" [selectedModels]="['Mango', 'Apricots', 'Coconut']" [models]="fructs"></tree-list>
                </div>
            </div>
            <div class="flexLayout">
                <div class="flex45p flexLayout flexColumn">
                    <div>Preselection with the input selectedItem</div>
                    <tree-list class="fixed-height" selectedValue="mango" [items]="fructItems"></tree-list>
                </div>
                <div class="flex45p flexOffset15px">
                </div>
            </div>
        </mat-card-content>

        <mat-toolbar color="primary">Pre-Selections from javascript</mat-toolbar>
        <mat-card-content>
            <div>The collection fructItemsWithPreSelection has a pre-selected item</div>
            <tree-list class="fixed-height" [items]="fructItemsWithPreSelection"></tree-list>
        </mat-card-content>
    </mat-card>
</div>


<div *ngIf="tabIndex === 5">
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Pre-Events and on Demand</mat-toolbar>
        <mat-card-content>
            <h1>Confirm Selection</h1>
            <div>A dialog will confirm the selection of an item</div>
            <tree-list class="demo-half-width fixed-height" multiSelect textField="naqme" valueField="code" [selectingItems]="selectingItems()" [models]="countries$ | async"> </tree-list>
            <h1>Confirm Expand and Collapse </h1>
            <div>A dialog will confirm the expand and collapse or an item if the children are not loaded. The children will be loaded asynchronously after the item expansion.</div>
            <tree-list #onexpand class="demo-half-width fixed-height" searchArea [items]="onDemandGroupedCountryItems$ | async" (itemExpand)="itemExpand$.next($event.item)" [expandingItem]="expandingItem()" [collapsingItem]="collapsingItem()"></tree-list>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="tabIndex === 6">
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Performance Examples</mat-toolbar>
        <mat-card-content>
            <h1>10K items with Item Template </h1>
            <div class="flexContainer flexLayout flexAlignCenter flexJustifyStart">
                <span class="flexExtendCollapseAuto">An exemple with 10000 auto sized templatized items</span>
                <a mat-button (click)="news.reloadViewPort()">
                    <mat-icon>refresh</mat-icon>
                </a>
                <mat-form-field class="flexFixedAuto">
                    <input matInput type="number" [(ngModel)]="ensureIndex" autocomplete="off">
                </mat-form-field>
                    <button class="flexFixedAuto" mat-button (click)="news.ensureItemVisible(ensureIndex)">Ensure index</button>
            </div>
            <tree-list #news [debugMode]="false" class="news" viewPortMode="auto" viewPortRowHeight="200" textField="title" searchField="description" [models]="bigNews$ | async">
                <ng-template #itemTemplate let-item let-flatindex="flatindex">
                    <news-card [item]="item.model" (imageLoaded)="imageLoaded(item)"></news-card>
                </ng-template>
            </tree-list>

            <h1>Fixed size rows 100K items</h1>
            <div>An exemple with 100000 fixed size items</div>
            <span class="flexLayout">
                <tree-list #bigCountries searchArea id="bigCountries" class="flex45p" [models]="bigCountries$ | async" textField="naqme" valueField="code"></tree-list>
                <span class="flex45p flexOffset5p">
                    <h4 id="vptitle">Viewport Infos:</h4>
                    <div *ngFor="let info of viewPortInfos">
                        <span class="vpinfoname">{{info.name}}</span>
            <span>{{info.value}}</span>
</div>
</span>
</span>
</mat-card-content>
</mat-card>
</div>

<div *ngIf="tabIndex === 7">
    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Single selection</mat-toolbar>
        <mat-card-content>
            <form novalidate [formGroup]="fruitForm">
                <div class="flexLayout">
                    <span class="flex45p flexLayout flexColumn">
                        <tree-list [models]="fruits$ | async" formControlName="fruitName"></tree-list>
                    </span>
                    <span class="flex45p flexOffset5p">
                        <h4>Your selection :</h4>
                        <span>{{fruitForm.get('fruitName').value}}</span>
                    </span>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="tree-list-demo demo-card demo-basic">
        <mat-toolbar color="primary">Multi selection</mat-toolbar>
        <mat-card-content>
            <form novalidate [formGroup]="fruitFormModels">
                <div class="flexLayout">
                    <span class="flex45p flexLayout flexColumn">
                        <tree-list multiSelect [models]="fruits$ | async" formControlName="fruitName"></tree-list>
                    </span>
                    <span class="flex45p flexOffset5p">
                        <h4>Your selection :</h4>
                        <span>{{fruitFormModels.get('fruitName').value}}</span>
                    </span>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<mouse-dragdrop-cursor></mouse-dragdrop-cursor>
