tree-list-demo {
    .demo-card {
        margin: 16px;
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-content {
            padding: 16px;
            display: flex;
            flex-direction: column;

            tree-list {
                max-height: 400px;
                position: relative;
                margin: 1rem 0;

                &.fixed-height {
                    height: 400px;
                }

                &.news {
                    max-height: 600px;
                }

                [deja-numeric-stepper-form-field] {
                    height: 100%;
                    width: 32px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-left: 6px;
                }

                .selected {
                    [deja-numeric-stepper-form-field] {
                        .shadow {
                            background-color: rgba(33, 150, 243, 0.8);
                        }

                        .arrow {
                            color: inherit;
                        }

                        .mat-mdc-input-element {
                            caret-color: inherit;
                        }
                    }
                }
            }

            mat-form-field {
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 0;
                position: relative;
                margin-top: 0.7rem;
            }
        }
    }

    .demo-basic {
        padding: 0;
    }

    .demo-full-width {
        width: 100%;
    }

    .demo-half-width {
        width: 45%;
    }

    .demo-icons {
        font-size: 100%;
        height: inherit;
        vertical-align: top;
        width: inherit;
    }

    #flight {
        display: flex;
        align-items: center;
    }

    news-card {
        width: 100%;

        .text {
            overflow-x: hidden;
        }
    }

    .vpinfoname {
        display: inline-block;
        width: 7rem;
    }

    #bigCountries {
        height: 400px;
    }

    #headerTemplateContent {
        padding: 0.4rem;
        display: block;
        background-color: #aaa;
        cursor: pointer;
        display: flex;

        #title {
            flex: 1 0 auto;
        }

        step-indicator {
            flex: 0 0 auto;
        }
    }

    [matPrefix] {
        cursor: default;
        padding: 4px;
    }

    [matSuffix] {
        padding: 4px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    [ddid] {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .optionstl {
        overflow: visible;
    }

    .flexLayout {
        display: flex;

        &.flexColumn {
            flex-direction: column;
        }

        &.flexJustifyStart {
            justify-content: start;
        }

        &.flexAlignCenter {
            align-items: center;
        }

        .flex45p {
            flex: 0 0 45%;
            overflow: hidden;
        }

        .flex50p {
            flex: 0 0 50%;
            overflow: hidden;
        }

        .flexFixedAuto {
            flex: 0 0 auto;
            overflow: hidden;
        }

        .flexFixed140px {
            flex: 0 0 140px;
            overflow: hidden;
        }

        .flexExtendAuto {
            flex: 1 0 auto;
            overflow: hidden;
        }

        .flexExtendCollapseAuto {
            flex: 1 1 auto;
            overflow: hidden;
        }
    }

    .flexOffset15px {
        margin-left: 15px;
    }

    .flexOffset5p {
        margin-left: 5%;
    }
}

.country-target-cursor {
    #content {
        background-color: rgba(0, 0, 0, 0.5) !important;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        cursor: pointer;

        &::before {
            display: block;
            width: 0.5rem;
            content: " ";
        }
    }
}
