<div *ngIf="columnLayout.column0" [style.width.px]="columnLayout.column0" id="parent-title" class="cell-wrapper">
	<div *ngIf="!parentTitleTemplate" class="cell">{{ row.toString() }}</div>
	<ng-template [ngTemplateOutlet]="parentTitleTemplate" *ngIf="parentTitleTemplate"  [ngTemplateOutletContext]="{ $implicit: row }"></ng-template>
</div>
<span *ngFor="let colinfo of columnLayout.columns; let index=index" class="cell-wrapper" [attr.colindex]="index" [attr.colname]="colinfo.column.name" [class.dragged]="colinfo.column.dragged" [style.left.px]="colinfo.left" [style.width.px]="colinfo.column.w">
	<div *ngIf="!cellTemplate || !colinfo.column.useCellTemplate" class="cell">{{ row[colinfo.column.name] }}</div>
	<ng-template [ngTemplateOutlet]="cellTemplate" *ngIf="cellTemplate && colinfo.column.useCellTemplate" [ngTemplateOutletContext]="{ $implicit: row, flatIndex: flatIndex, column: column }"></ng-template>
</span>