// @import '~@angular/material/theming';

// @mixin combo-list-theme($theme) {
//     $primary: map-get($theme, primary);
//     deja-combo-list-child{
//         mat-list-item.list-selected > div{
//                 background-color: mat-color($primary, 200);
//         }
//     }

// }
@import '~@angular/material/theming';

:host {
    @include mat-elevation(1);
    overflow-y: auto;
    background-color: white;

    deja-combo-list-child {
        flex: 1 1 auto;
    }

    deja-combo-list-actionbar {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    mat-list-item {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &.list-disabled > div {
            cursor: not-allowed;
        }

    }
}
