<deja-combo-list-child [items]="srv.selectable" [itemsBuffer]="srv.selectableBuffer" [labelFieldName]="labelFieldName" (action)="toSelectListAction($event)"
    [disabled]="disabled"></deja-combo-list-child>

<deja-combo-list-actionbar [disabled]="disabled" [disableFastActions]="disableFastActions" class="combo-list-action"></deja-combo-list-actionbar>

<deja-combo-list-child [items]="srv.selected" [itemsBuffer]="srv.selectedBuffer" [labelFieldName]="labelFieldName" (action)="selectedListAction($event)"
    [disabled]="disabled"></deja-combo-list-child>