<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">>
    <!--<mat-tab label="OVERVIEW">-->
    <!--<mat-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</mat-card>-->
    <!--</mat-tab>-->
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
    <mat-tab label="AUTO RESIZE"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/projects/deja-js/component/monaco-editor/readme.md'"></deja-markdown>
</mat-card>

<div *ngIf="tabIndex === 1">
      <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">
            Modification d'un fichier XML
            <span flex></span>
            <mat-checkbox [(ngModel)]="readOnly">Read only</mat-checkbox>
        </mat-toolbar>
        <mat-card-content>
            <div class="viewer">
                <deja-monaco-editor [(value)]="xmlContent" language="xml" [readOnly]="readOnly" [folding]="true" theme="vs" (valueChange)="onValueChange()"></deja-monaco-editor>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">Comparaison d'un fichier XML</mat-toolbar>
        <mat-card-content>
            <div class="viewer">
                <deja-monaco-editor [(value)]="xmlContent" [(valueToCompare)]="xmlContentToCompare" [isDiffEditor]="true" [folding]="true" language="xml" (valueToCompareChange)="onValueToCompareChange()"></deja-monaco-editor>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">Modification d'un fichier JSON</mat-toolbar>
        <mat-card-content>
            <div class="viewer">
                <deja-monaco-editor [(value)]="jsonContent" [folding]="true" language="json"></deja-monaco-editor>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">Comparaison d'un fichier JSON</mat-toolbar>
        <mat-card-content>
            <div class="viewer">
                <deja-monaco-editor [(value)]="jsonContent" [valueToCompare]="jsonContentToCompare" [isDiffEditor]="true" [folding]="true" language="json"></deja-monaco-editor>
            </div>
        </mat-card-content>
    </mat-card>  
</div>

<div *ngIf="tabIndex === 2">
     <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">
            Resize auto
        </mat-toolbar>
        <mat-card-content style="height: 500px;">
            <deja-splitter direction="vertical">
                <split-area [size]="75">
                    <deja-splitter direction="horizontal">
                        <split-area [size]="75">
                            <deja-monaco-editor style="height: 100%;" [(value)]="xmlContent" language="xml" [readOnly]="readOnly" [folding]="true" theme="vs" (valueChange)="onValueChange()"></deja-monaco-editor>
                        </split-area>
                        <split-area>
                            <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
                        </split-area>
                    </deja-splitter>
                </split-area>
                <split-area>
                    <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
                </split-area>
            </deja-splitter>
        </mat-card-content>
    </mat-card> 

     <mat-card class="demo-card demo-basic">
        <mat-toolbar color="primary">
            Modification du text et du language
        </mat-toolbar>
        <mat-card-content>
            <mat-form-field>
                <mat-select placeholder="Language" [ngModel]="dynamicLanguage" (ngModelChange)="updateLanguage($event)">
                    <mat-option value="xml">XML</mat-option>
                    <mat-option value="json">JSON</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="viewer">
                <deja-monaco-editor [(value)]="dynamicContent" [folding]="true" [language]="dynamicLanguage"></deja-monaco-editor>
            </div>
        </mat-card-content>
    </mat-card> 
</div>