@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/theming/theming';

@mixin viewport-theme($theme) {
	$primary: map-get($theme, primary);

	deja-viewport {

		#up,
		#down {
			&:hover {
				background-color: mat-color($primary);
				color: mat-color($primary, default-contrast);
			}
		}
	}
}
