<div #button id="up" *ngIf="hasButtons" [attr.hidden]="!this.hasUpButton || null">
    <mat-icon>keyboard_arrow_up</mat-icon>
</div>
<div #wrapper id="viewport-wrapper">
    <ng-container *ngIf="viewPortService.viewPort$ | async as viewPort">
        <div *ngIf="viewPort.beforeSize > 0" [style.flex-basis.px]="viewPort.beforeSize">&nbsp;</div>
        <div class="listitem" *ngFor="let item of (viewPort.mode === 'disabled' ? viewPort.items : viewPort.visibleItems); let index = index" [attr.flat]="viewPort.startIndex + index" [style.flex-basis]="getCssSize(item)">
            <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, index: viewPort.startIndex + index, size: getItemSize(item), model: item.model }"></ng-template>
        </div>
        <div *ngIf="viewPort.afterSize > 0" [style.flex-basis.px]="viewPort.afterSize">&nbsp;</div>
    </ng-container>
</div>
<div #button id="down" *ngIf="hasButtons" [attr.hidden]="!this.hasDownButton || null">
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>