<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<md-tab label="OVERVIEW">-->
    <!--<md-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</md-card>-->
    <!--</md-tab>-->
    <md-tab label="API REFERENCE"></md-tab>
    <md-tab label="EXAMPLES"></md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    TODO
</md-card>

<div *ngIf="tabIndex === 1">
    <md-card class="demo-card demo-basic">
        <md-toolbar color="primary">
            Progress circle
        </md-toolbar>
        <md-card-content>
            <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
            <md-progress-spinner mode="indeterminate" color="warn"></md-progress-spinner>
        </md-card-content>
    </md-card>
    <md-card class="demo-card demo-basic">
        <md-toolbar color="primary">
            Progress Bar
        </md-toolbar>
        <md-card-content fxLayout="column">
            <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
            <md-progress-bar mode="indeterminate" color="warn"></md-progress-bar>
        </md-card-content>
    </md-card>
</div>