@import "../../scss/variables/colors";
// @import "../../../node_modules/@deja-js/resources/src/scss/fonts/material-icons/material-icons";

:host {
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

#grid-demo {
	padding: 0 2rem;
	overflow: hidden;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	md-toolbar {
		flex: 0 0 auto;
	}

	&.demo-basic {
		padding: 0;
	}
	&.demo-full-width {
		width: 100%;
	}
	&.demo-icons {
		font-size: 100%;
		height: inherit;
		vertical-align: top;
		width: inherit;
	}
	&.demo-card {
		//margin: 0 2rem;
		md-card-content {
			padding: 2rem;
		}
		.listContainer {
			height: 700px;
			display: flex;
			flex-direction: column;
			overflow: hidden;

            deja-grid {
				flex: 1;
				li {
					&.odd {
						background-color: rgba($secondary, 0.1);
						&.current {
							background-color: rgba($secondary, 0.5);
						}
						&.selected {
							background: rgba($secondary, 0.9);
						}
					}
				}
			}
		}
	}
	md-toolbar {
		margin-top: 2rem;
	}
	button {
		margin-top: 2rem;
	}
	[mdSuffix] {
		display: flex;
		justify-content: flex-end;
		[md-icon-button] {
			margin-top: -1.5rem;
			margin-bottom: 0;
		}
	}
	#cell-drug,
	#cell-reaction {
		display: flex;
		align-items: center;
		width: 100%;
		#content {
			flex: 1 1 auto;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		#more {
			margin: 0 0.5rem;
		}
	}
}