@import '~@angular/material/theming';
@mixin viewport-theme($theme) {
    deja-viewport {
        #up,
        #down {
            background-color: #fff;
            &:hover {
                background-color: mat-color($primary);
                color: #fff;
            }
        }
    }
}