@import '~@angular/material/theming';
@mixin viewport-theme($theme) {
    $primary: map-get($theme, primary);

    deja-viewport {
        #up,
        #down {
            &:hover {
                background-color: mat-color($primary);
                color: #fff;
            }
        }
    }
}