:host {
    display: flex;
    position: relative;
    &[direction="vertical"] {
        overflow-x: visible;
        overflow-y: auto;
        flex-direction: column;
        >span {
            width: 100%;
        }
    }
    &[direction="horizontal"] {
        overflow-x: auto;
        overflow-y: visible;
        flex-direction: row;
        >span {
            height: 100%;
        }
    }
    >span {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
}