<div #up id="up" *ngIf="hasButtons"><i class="material-icons">keyboard_arrow_up</i></div>
<div #wrapper id="viewport-wrapper">
	<ng-container *ngIf="!isHorizontal">
		<div *ngIf="beforeSize" [style.height.px]="beforeSize"></div>
		<div class="listitem" *ngFor="let item of vpItems; let index = index" [attr.flat]="vpStartIndex + index" [style.height]="getCssSize(item)" [style.margin-top.px]="startOffset && index === 0 ? -startOffset : null">
			<ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, index: vpStartIndex + index, size: getItemSize(item), model: item.model }"></ng-template>
		</div>
		<div *ngIf="afterSize" [style.height.px]="afterSize"></div>
	</ng-container>
	<ng-container *ngIf="isHorizontal">
		<div *ngIf="beforeSize" [style.flex-basis.px]="beforeSize"></div>
		<div class="listitem" *ngFor="let item of vpItems; let index = index" [attr.flat]="vpStartIndex + index" [style.flex-basis]="getCssSize(item)" [style.margin-left.px]="startOffset && index === 0 ? -startOffset : null">
			<ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, index: vpStartIndex + index, size: getItemSize(item), model: item.model }"></ng-template>
		</div>
		<div *ngIf="afterSize" [style.flex-basis.px]="afterSize"></div>
	</ng-container>
</div>
<div #down id="down" *ngIf="hasButtons"><i class="material-icons">keyboard_arrow_down</i></div>