.deja-listcontainer {
	padding: 0;
	margin: 0;
	position: relative;
	&[vprowheight="0"] {
		>div.listitem {
			padding: 0.35rem 0.1rem;
		}
	}
	>div.listitem {
		opacity: 1;
		// padding: 0 0.5rem 0 0.5rem;
		margin: 0;
		transition-timing-function: linear;
		transition-duration: .3s;
		transition-property: max-height, opacity;
		display: flex;
		align-items: center;
		&.hide {
			opacity: 0 !important;
			max-height: 0 !important;
			transition-timing-function: ease-out;
		}

		#expandbtn {
			min-width: 24px;
			cursor: pointer;
		}

		&.parent {
			&.collapsed {
				#expandbtn {
					>.material-icons {
						-ms-transform: rotate(-90deg);
						-webkit-transform: rotate(-90deg);
						transform: rotate(-90deg);
					}
				}
			}
		}
	}
}
