<div id="button-wrapper" *ngIf="!navIsVisible">
	<deja-menu #navmnu>
		<navigation-component (click)="navmnu.close()"></navigation-component>
	</deja-menu>
	<button md-icon-button id="menu-button" (click)="navmnu.show($event)">
		<md-icon>more_vert</md-icon>
	</button>
</div>
<deja-splitter class="demo-root flex display-flex">
    <split-area [order]="0" [size]="15" *ngIf="navIsVisible">
        <navigation-component></navigation-component>
    </split-area>
    <split-area [order]="1">
        <div id="scrollable-content">
            <router-outlet></router-outlet>
        </div>
    </split-area>
</deja-splitter>
<deja-mouse-dragdrop-cursor></deja-mouse-dragdrop-cursor>
<deja-backdrop id="iframePopup" *ngIf="iframeOpened" (click)="iframeOpened=false">
	<deja-iframe sourceUrl="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"></deja-iframe>
</deja-backdrop>