@import '~@angular/material/theming';

@mixin date-picker-theme($theme) {
	$warn: map-get($theme, warn);

	deja-date-picker {
		&.ng-invalid {
			.mat-form-field-wrapper {
				.mat-form-field-underline {
					.mat-form-field-ripple {
						background-color: mat-color($warn);
					}
				}
				.mat-form-field-flex {
					.mat-form-field-infix {
						.mat-form-field-label {
							color: mat-color($warn);
						}
					}
				}
			}
		}
	}
}

.deja-overlay-container {
	.actions {
		button {
			color: #FFF;
		}
	}
}