deja-date-picker {
	#date-selector {
		.mat-form-field-wrapper {
			#action-icon-container {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-68%);
            }
            #current-date-button mat-icon,
			#calendar-button mat-icon,
			#clear-button mat-icon {
				font-size: 100%;
				opacity: 0.4;
			}
		}
	}
	&.ng-invalid {
		.mat-form-field-wrapper {
			.mat-form-field-underline {
				.mat-form-field-ripple {
					opacity: 1;
					transform: scaleY(1);
				}
			}
		}
		mat-hint {
			bottom: -0.8em;
		}
	}
}

.deja-datepicker-overlay-container {
	overflow: visible;
	.actions {
		position: absolute;
		right: 0.3rem;
		top: 0.3rem;
		button.mat-mini-fab {
			background: none;
			border: none;
			box-shadow: none;
		}
	}
}
