:host {
    flex: 1 1 100%;
    padding: 1rem;

    deja-tree-list {
        border-style: solid;
        border-width: 1px;
        max-width: 300px;
    }

    .white-space-nowrap {
        white-space: nowrap;
    }
}
