:host {
    #date-time-selector {
        box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
        display: flex;
        margin: 0 auto;
        width: 310px;
        outline: none;
        &[with-time] {
            width: 663px;
        }
        #time-header,
        #date-header {
            align-items: center;
            display: flex;
            flex: 1 100%;
            font-size: 2rem;
            height: 94px;
            justify-content: center;
            padding: 0;
            position: relative;
        }
        #time-selector {
            position: relative;
            width: 353px;
            #time-body {
                height: calc(100% - 94px);
                position: relative;
            }
            $deep: '/deep/';
            #{$deep} {
                deja-circular-picker {
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    .circular-picker {
                        left: 50%;
                        position: absolute !important;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &.hours .circular-picker {
                        border: none;
                        &:before {
                            border-radius: 50%;
                            content: '';
                            height: 1rem;
                            left: 50%;
                            margin-left: -0.5rem;
                            margin-top: -0.5rem;
                            position: absolute;
                            top: 50%;
                            width: 1rem;
                        }
                    }
                }
            }
        }
        #date-selector {
            margin: 0 auto;
            width: 310px;
            #date-header {
                flex-direction: column;
                [current] {
                    font-size: 2rem;
                }
                .year {
                    align-items: center;
                    display: flex;
                    font-size: 1rem;
                    justify-content: center;
                    width: 50%;
                    md-icon {
                        flex: 0 0 auto;
                        cursor: pointer;
                    }
                    div {
                        flex: 1 1 auto;
                        text-align: center;
                    }
                }
            }
            #sub-header {
                .month {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    padding: 1rem;
                    text-align: center;
                    span {
                        flex: 1 1 auto;
                        font-size: 1rem;
                        text-transform: capitalize;
                    }
                    button[md-mini-fab] {
                        flex: 0 0 auto;
                        box-shadow: none;
                    }
                }
                .days {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-bottom: 0.5rem;
                    text-align: center;
                    span {
                        flex: 0 0 14%;
                        position: relative;
                    }
                }
            }
            #date-body {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                &:focus {
                    outline: none;
                }
                .date {
                    flex: 0 0 14%;
                    position: relative;
                    &:before {
                        content: '';
                        float: left;
                        padding-top: 100%;
                    }
                    .day {
                        align-items: center;
                        border-radius: 50%;
                        bottom: 0;
                        display: flex;
                        justify-content: center;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                        &.disabled {
                            &:hover {
                                cursor: not-allowed;
                            }
                        }
                        &:hover,
                        &[selected] {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}