<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <!--<mat-tab label="OVERVIEW">-->
    <!--<mat-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</mat-card>-->
    <!--</mat-tab>-->
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"> </mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/message-box/readme.md'"></deja-markdown>
</mat-card>

<div *ngIf="tabIndex === 1" class="example">
    <deja-dialog *ngIf="dialogTitle" (closed)="dialogTitle = ''">
        <deja-message-box type="primary" title="Title" showCloseIcon="true" (close)="dialogTitle = ''">
            <span [innerHtml]="dialogTitle"></span>
            <ng-template #actionsTemplate>
                <button mat-button (click)="dialogTitle = ''">
                    Cancel
                </button>
                <button mat-button (click)="dialogTitle = ''">
                    Ok
                </button>
            </ng-template>
        </deja-message-box>
    </deja-dialog>

    <deja-message-box type="primary" title="Title" [actions]="closeAction">
        Du texte dans la <b>message box</b>
    </deja-message-box>
    <deja-message-box type="primary" title="Title" horizontal [actions]="closeAction">
        Du texte dans la <b>message box</b>
    </deja-message-box>

    <deja-message-box type="success" [actions]="actions">
        <span [app-tooltip]="newsTooltip$">Un message "success (Rester sur moi avec la souris pour afficher un lazy tooltip)"</span>
    </deja-message-box>

    <deja-message-box type="warn" horizontal title="Title" [actions]="closeAction">
        Un message "warn" <b>horizontal</b> avec titre
    </deja-message-box>

    <deja-message-box type="info" horizontal>
        Un message "info" <b>horizontal</b>
    </deja-message-box>

    <deja-message-box type="warn" horizontal [actions]="closeAction">
        Un message "warn" <b>horizontal</b>
    </deja-message-box>

    <div style="margin:1rem;"></div>

    <deja-message-box type="danger" horizontal title="Title">
        Un message "danger" <b>horizontal</b> avec une action au format template
        <ng-template #actionsTemplate>
            <button mat-icon-button>
                <mat-icon>clear</mat-icon>
            </button>
        </ng-template>
    </deja-message-box>

    <deja-message-box horizontal>
        Un message horizontal sans type ni titre
    </deja-message-box>

    <deja-message-box type="danger" horizontal light [actions]="closeAction">
        Un message horizontal sans type ni titre
    </deja-message-box>
    <deja-message-box type="success" horizontal light>
        Un message horizontal sans type ni titre
    </deja-message-box>
    <deja-message-box type="warn" horizontal light>
        Un message horizontal sans type ni titre
    </deja-message-box>
    <deja-message-box type="info" horizontal light>
        Un message horizontal sans type ni titre
    </deja-message-box>

    <deja-message-box type="danger" [actions]="actions" light>
        <span [app-tooltip]="newsTooltip$">Un message "danger" (Rester sur moi avec la souris pour afficher un lazy tooltip)"</span>
    </deja-message-box>
    <deja-message-box type="success" [actions]="actions" light>
        <span [app-tooltip]="newsTooltip$">Un message "success" (Rester sur moi avec la souris pour afficher un lazy tooltip)"</span>
    </deja-message-box>
    <deja-message-box type="warn" [actions]="actions" light>
        <span [app-tooltip]="newsTooltip$">Un message "warn" (Rester sur moi avec la souris pour afficher un lazy tooltip)"</span>
    </deja-message-box>
    <deja-message-box type="info" [actions]="actions" light>
        <span [app-tooltip]="newsTooltip$">Un message "info" (Rester sur moi avec la souris pour afficher un lazy tooltip)"</span>
    </deja-message-box>
</div>
