<div class="scale-container" [class.horizontal]="horizontal" [class.label-scale]="true">
    <div class="scale labels" [class.zoom]="zoomEnabled" deja-scale-zoom-factor [zoomEnabled]="zoomEnabled" [zoomFactor]="zoomFactor">
        <svg *ngFor="let marker of getScale(); let i = index"
             [attr.height]="this.stepHeight"
             [attr.width]="this.stepWidth"
             [class.label-display]="i%labelFrequency===0"
             [attr.data-value]="marker.value"
             class="scale-step"
             deja-scale-zoom-over>
            <rect height="0%" width="0%" class="scale-marker"></rect>
            <text [attr.x]="labelXPos" [attr.y]="labelYPos" font-size="0" class="scale-label">{{marker.label}}</text>
            <!--inner SVGs HAVE to have a defined viewport (ignored css) in order to display properly (chrome)-->
            <svg *ngFor="let zoomStep of marker.zoomSteps; let i = index"
                 [attr.height]="this.zoomStepHeight"
                 [attr.width]="this.zoomStepWidth"
                 [attr.data-value]="zoomStep.value"
                 [attr.x]="zoomStepXPos(i)"
                 class="scale-zoom-step"
                 [attr.y]="zoomStepYPos(i)">
                <rect height="0%" width="0%" class="scale-zoom-overlay"></rect>
                <rect height="0%" width="0%" class="scale-zoom-marker"></rect>
                <text [attr.x]="zoomLabelXPos" [attr.y]="zoomLabelYPos" font-size="0rem" class="scale-zoom-label">{{zoomStep.label}}</text>
            </svg>
        </svg>
    </div>
    <!--<div class="labels">-->
        <!--<svg *ngFor="let marker of getScale(); let i = index"-->
             <!--[attr.height]="this.stepHeight"-->
             <!--[attr.width]="this.stepWidth"-->
             <!--[class.label-display]="i%labelFrequency===0"-->
             <!--[attr.data-value]="marker.value">-->
            <!--<text [attr.x]="labelXPos" [attr.y]="labelYPos" font-size="0">{{marker.label}}</text>-->
        <!--</svg>-->
    <!--</div>-->
</div>