//distribution of divs containing labels and scale
.scale-container {

    display: flex;

    &.horizontal {

        &.label-scale {
            flex-direction: column;
        }

        &:not(.label-scale) {
            flex-direction: column-reverse;
        }
    }


    &:not(.horizontal){

        &.label-scale {
            flex-direction: row;
        }

        &:not(.label-scale) {
            flex-direction: row-reverse;
        }
    }

}

//scales and labels
.scale-container {

    &:not(.horizontal) {

        height: 100%;

        .scale {

            // zoom
            display: flex;
            flex-direction: column;

            width: 20px;

            > svg {

                width: 40px;
                display: block;

                rect {
                    height: 5%;
                    width: 5px;
                }

                svg {
                    width: 20px;
                    overflow: visible;

                    rect {
                        height: 0%;
                        width: 100%;
                        cursor: pointer;

                        &.scale-zoom-marker {
                            height: 0%;
                            width: 5px;
                        }
                    }

                    text {
                        font-size: 0;
                        cursor: pointer;
                    }
                }


            }

        }

        .labels {

            width: 1rem;

            > svg {

                display: block;

                &.label-display {
                    overflow: visible;
                    width: 20px;

                    rect {
                        height: 8%;
                        width: 10px;
                    }

                    text {
                        font-size: 1rem;
                        cursor: default;
                    }

                }
            }

        }
    }

    &.horizontal {

        .scale {

            // zoom
            display: flex;
            flex-direction: row;

            > svg {

                height: 20px;

                rect {
                    height: 5px;
                    width: 5%;
                }

                svg {
                    height: 20px;
                    overflow: visible;

                    rect {
                        width: 0%;
                        height: 100%;
                        cursor: pointer;

                        &.scale-zoom-marker {
                            width: 0%;
                            height: 5px;
                        }
                    }

                    text {
                        font-size: 0;
                        cursor: pointer;
                        text-anchor: middle;
                    }
                }

                svg[x="0%"] {
                    overflow: hidden;
                    text {
                        text-anchor: start;
                    }
                }

            }

        }

        .labels {

            height: 1rem;

            > svg {
                &.label-display {
                    overflow: visible;
                    height: 20px;

                    rect {
                        height: 10px;
                        width: 8%;
                    }

                    text {
                        font-size: 1rem;
                        text-anchor: middle;
                        cursor: default;
                    }

                }
            }

        }
    }
}

// zoom
.scale-container {
    .zoom {
        pointer-events: none;
        > svg {
            pointer-events: auto;
            &:hover, &.hover {
                transition: height 0.5s 0.5s, width 0.5s 0.5s;
                overflow: visible;

                rect {
                    fill: #fff;
                    transition: fill 0.5s 0.5s;
                }

                svg {
                    rect {
                        fill: #fff;
                        height: 100%;
                        width: 100%;
                        transition: height 0.5s 0.5s, width 0.5s 0.5s, fill 0.1s 0.5s;

                        &.scale-zoom-marker {
                            fill: #ddd;
                            height: 8%;
                            width: 10px;
                        }
                    }
                    text {
                        font-size: 0.5rem;
                        transition: font-size 0.7s 0.5s;
                    }
                }
            }

            &:not(:hover):not(.hover) {
                transition: height 0.5s 0.5s, width 0.5s 0.5s;
                rect {
                    transition: fill 0.5s 0.6s;
                }

                svg {
                    rect {
                        transition: height 0.2s 0.4s, width 0.2s 0.4s, fill 0.2s 0.6s;
                    }
                    text {
                        transition: font-size 0.4s 0.5s;
                    }
                }
            }
        }

        &:hover > svg.label-display > text {opacity: 0.3; transition: opacity 0.5s 0.5s;}
        &.hover > svg.label-display > text {opacity: 0.3; transition: opacity 0.5s 0.5s;}
        &:not(:hover) > svg.label-display > text {transition: opacity 0.5s 0.5s;}
        &:not(.hover) > svg.label-display > text {transition: opacity 0.5s 0.5s;}
    }

    &:not(.horizontal) .zoom {
        > svg:hover, > svg.hover {
            svg rect.scale-zoom-marker {
                height: 8%;
                width: 10px;
            }
        }
    }

    &.horizontal .zoom {
        > svg:hover, > svg.hover {
            svg rect.scale-zoom-marker {
                width: 1px;
                height: 10px;
            }
        }
    }
}
:not(.horizontal) {
    .zoom.zoom-10 > svg:hover {height: 10%;}
    .zoom.zoom-20 > svg:hover {height: 20%;}
    .zoom.zoom-30 > svg:hover {height: 30%;}
    .zoom.zoom-40 > svg:hover {height: 40%;}
    .zoom.zoom-50 > svg:hover {height: 50%;}
    .zoom.zoom-60 > svg:hover {height: 60%;}
    .zoom.zoom-70 > svg:hover {height: 70%;}
    .zoom.zoom-80 > svg:hover {height: 80%;}
    .zoom.zoom-90 > svg:hover {height: 90%;}

    .zoom.zoom-10 > svg.hover {height: 10%;}
    .zoom.zoom-20 > svg.hover {height: 20%;}
    .zoom.zoom-30 > svg.hover {height: 30%;}
    .zoom.zoom-40 > svg.hover {height: 40%;}
    .zoom.zoom-50 > svg.hover {height: 50%;}
    .zoom.zoom-60 > svg.hover {height: 60%;}
    .zoom.zoom-70 > svg.hover {height: 70%;}
    .zoom.zoom-80 > svg.hover {height: 80%;}
    .zoom.zoom-90 > svg.hover {height: 90%;}
}

.horizontal {
    .zoom.zoom-10 > svg:hover {width: 10%;}
    .zoom.zoom-20 > svg:hover {width: 20%;}
    .zoom.zoom-30 > svg:hover {width: 30%;}
    .zoom.zoom-40 > svg:hover {width: 40%;}
    .zoom.zoom-50 > svg:hover {width: 50%;}
    .zoom.zoom-60 > svg:hover {width: 60%;}
    .zoom.zoom-70 > svg:hover {width: 70%;}
    .zoom.zoom-80 > svg:hover {width: 80%;}
    .zoom.zoom-90 > svg:hover {width: 90%;}

    .zoom.zoom-10 > svg.hover {width: 10%;}
    .zoom.zoom-20 > svg.hover {width: 20%;}
    .zoom.zoom-30 > svg.hover {width: 30%;}
    .zoom.zoom-40 > svg.hover {width: 40%;}
    .zoom.zoom-50 > svg.hover {width: 50%;}
    .zoom.zoom-60 > svg.hover {width: 60%;}
    .zoom.zoom-70 > svg.hover {width: 70%;}
    .zoom.zoom-80 > svg.hover {width: 80%;}
    .zoom.zoom-90 > svg.hover {width: 90%;}
}
