<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
  <mat-tab label="API REFERENCE"></mat-tab>
  <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
  <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/projects/deja-js/component/editor/readme.md'"></deja-markdown>
</mat-card>

<div *ngIf="tabIndex === 1">
  <mat-card class="demo-card">
      <mat-toolbar color="primary">Inline CKEditor with material skin</mat-toolbar>
      <mat-card-content>
          <div fxLayout>
              <div fxFlex="1 1 0">
                  <h3>Editor :</h3>
                  <mat-form-field>
                    <deja-editor [(ngModel)]="matText" [config]="editorConfig"></deja-editor>
                  </mat-form-field>
              </div>
              <div fxFlex="1 1 0">
                  <h3>Result :</h3>
                  <div [innerHTML]="matText"></div>
              </div>
          </div>
      </mat-card-content>
  </mat-card>

  <mat-card class="demo-card">
    <mat-toolbar color="primary">Default CKEditor</mat-toolbar>
    <mat-card-content>
      <div fxLayout>
        <div fxFlex="1 1 0">
          <h3>Editor :</h3>
          <deja-editor class="inline" [(ngModel)]="matText" [config]="editorConfig" [inline]="false"></deja-editor>
        </div>
        <div fxFlex="1 1 0">
          <h3>Result :</h3>
          <div [innerHTML]="matText"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="demo-card">
      <mat-toolbar color="primary">Replace</mat-toolbar>
      <mat-card-content>
        <div fxLayout>
          <div fxFlex="1 1 0">
            <h3>Editor :</h3>
            <deja-editor class="inline" [config]="editorConfig" [inline]="false" #replaceEditor></deja-editor>
          </div>
          <div fxFlex="1 1 0">
            <h3>Actions :</h3>
            <div>
              <mat-form-field>
                <input matInput [(ngModel)]="replaceWith">
              </mat-form-field>
              <button mat-raised-button (click)="replace()">Replace</button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

</div>
