<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/tiles/readme.txt'"></deja-markdown>
</mat-card>

<ng-template ngFor let-message [ngForOf]="messages$ | async">
    <deja-snackbar alignment="bottom right" *ngIf="message.gate" [duration]="8000" (onAnimationDone)="message.cancel(false)">
        <deja-message-box [type]="message.type" [title]="message.title">
            {{message.content}}
            <ng-template #actionsTemplate>
                <button mat-raised-button (click)="message.cancel(false)" color="primary">
                    Ok
                </button>
                <button mat-raised-button (click)="message.cancel(true)">
                    Annuler
                </button>
            </ng-template>
        </deja-message-box>
    </deja-snackbar>
</ng-template>
<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 1">
    <mat-toolbar color="primary">Tiles Demo</mat-toolbar>
    <mat-card-content id="actions">
        <mat-checkbox [(ngModel)]="designMode">Design Mode</mat-checkbox>
    </mat-card-content>
    <mat-card-content>
        <span #dropArea id="droparea" [mouse-droppable]="getDropContext(dropArea)">
            Drop Area
        </span>
    </mat-card-content>
    <mat-card-content>
        <deja-tiles #tiles1 id="tiles1" *ngIf="tiles1$ | async as tiles" [models]="tiles" [mouse-draggable]="getDragContext()" (contentAdding)="onContentAdding($event)" (contentRemoving)="onContentRemoving($event)" maxwidth="100%" tileminwidth="5%" tileminheight="5%" tilemaxheight="50%" tilemaxwidth="50%">
            <ng-template #tileTemplate let-tile let-pressed="pressed" let-selected="selected">
                <div class="tile-content noselect" [style.background-color]="tile.color">{{ tile.templateModel.naqme }} ({{ tile.templateModel.code }})
                    <span id="selected">Selected</span>
                    <span id="pressed">Pressed</span>
                </div>
            </ng-template>
        </deja-tiles>
    </mat-card-content>
    <mat-card-content>
        <deja-tiles #tiles2 id="tiles2" *ngIf="tiles2$ | async as tiles" [models]="tiles" (contentAdding)="onContentAdding($event)" (contentRemoving)="onContentRemoving($event)" canDelete canCopy canCut canPaste [designMode]="designMode" maxwidth="100%" tileminwidth="5%" tileminheight="5%" tilemaxheight="50%" tilemaxwidth="50%">
            <ng-template #tileTemplate let-tile let-pressed="pressed" let-selected="selected">
                <div class="tile-content noselect" [style.background-color]="tile.color">{{ tile.templateModel.naqme }} ({{ tile.templateModel.code }})
                    <span id="selected">Selected</span>
                    <span id="pressed">Pressed</span>
                </div>
            </ng-template>
        </deja-tiles>
    </mat-card-content>
</mat-card>

<mouse-dragdrop-cursor></mouse-dragdrop-cursor>
