@import '~@angular/material/theming';
@include mat-core();

// Define color scheme
$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-cyan);
$warn: mat-palette($mat-red);

// Create the theme object from colors
$theme: mat-light-theme($primary, $accent, $warn);