<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <!--<mat-tab label="OVERVIEW">-->
    <!--<mat-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</mat-card>-->
    <!--</mat-tab>-->
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card appearance="outlined" class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/color-selector/readme.md'"></deja-markdown>
</mat-card>

<div *ngIf="tabIndex === 1">
    <mat-card appearance="outlined" class="demo-card">
        <mat-toolbar color="primary">Color Picker width backdrop - Pick a color: (selected color: {{ selectedColor.toHex() }});</mat-toolbar>
        <mat-card-content id="colorpickers">
            <deja-color-picker name="1" [attr.hexx]="selectedColor && selectedColor.toHex()" class="colorpicker" [colors]="materialColors.colors" [(ngModel)]="selectedColor" (colorhover)="onColorPickerHover($event)" (ngModelChange)="onColorPickerChange($event)"></deja-color-picker>
            <deja-color-picker name="2" resetcolor="red" class="colorpicker" small [colors]="materialColors.colors" [(ngModel)]="invalidColor" (colorhover)="onColorPickerHover($event)" (ngModelChange)="onColorPickerChange($event)"></deja-color-picker>
            <deja-color-picker name="3" disabled small class="colorpicker" [colors]="materialColors.colors" [(ngModel)]="selectedColor" (colorhover)="onColorPickerHover($event)" (ngModelChange)="onColorPickerChange($event)"></deja-color-picker>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="demo-card">
        <mat-toolbar color="primary">Color Selector - Pick a color:</mat-toolbar>
        <mat-card-content>
            <div id="hoveredColor" [style.background-color]="(hoveredColor && hoveredColor.toHex()) || selectedColor.toHex()">
                <deja-color-selector name="4" [colors]="materialColors.colors" [(ngModel)]="selectedColor" (colorhover)="onColorPickerHover($event)" (ngModelChange)="onColorPickerChange($event)"></deja-color-selector>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="demo-card">
        <mat-toolbar color="primary">Color Selector - Disabled:</mat-toolbar>
        <mat-card-content id="colorpickers">
            <deja-color-selector name="5" disabled [colors]="materialColors.colors" [(ngModel)]="selectedColor" (colorhover)="onColorPickerHover($event)" (ngModelChange)="onColorPickerChange($event)"></deja-color-selector>
        </mat-card-content>
    </mat-card>
</div>
