<button *ngIf="!small" [disabled]="disabled" id="colorbtn" md-fab (click)="onClick($event)" [style.background-color]="value && value.toHex() || null"></button>
<button *ngIf="small" [disabled]="disabled" id="colorbtn" md-mini-fab (click)="onClick($event)" [style.background-color]="value && value.toHex() || null"></button>
<deja-dropdown id="deja-dropdown" *ngIf="isOpen" [ownerAlignment]="dropdownAlignment" [ownerElement]="elementRef.nativeElement" dropdownAlignment="left bottom" [containerElement]="containerElement">
	<deja-color-selector [colors]="colors" [ngModel]="value" (colorhover)="colorhover.emit($event)" (ngModelChange)="onColorChange($event)"></deja-color-selector>
</deja-dropdown>