.deja-overlay-container {
    deja-color-selector {
        &[disabled] {
            -webkit-filter: grayscale(100%);
            /* Chrome, Safari, Opera */
            filter: grayscale(100%);
        }
        background-color: #222;
        overflow: hidden;
        max-width: 24rem;
        min-height: 15rem;
    }
}
