<button type="button" *ngIf="!small" [disabled]="disabled" id="colorbtn" mat-fab (click)="show($event)" [style.background-color]="value && value.toHex() || null"></button>
<button type="button" *ngIf="small" [disabled]="disabled" id="colorbtn" mat-mini-fab (click)="show($event)" [style.background-color]="value && value.toHex() || null"></button>
<ng-template cdk-connected-overlay cdkConnectedOverlayHasBackdrop cdkConnectedOverlayBackdropClass="cdk-overlay-dark-backdrop" [cdkConnectedOverlayOpen]="isOpen" [cdkConnectedOverlayOrigin]="overlayOrigin" (backdropClick)="close()" (detach)="close()" [cdkConnectedOverlayPositions]="positions" [cdkConnectedOverlayWidth]="width">
    <deja-color-selector [colors]="colors" [ngModel]="value" (colorhover)="colorhover.emit($event)" (ngModelChange)="onColorChange($event)"></deja-color-selector>
</ng-template>
