:host {
	&[disabled] {
		-webkit-filter: grayscale(100%);
		/* Chrome, Safari, Opera */
		filter: grayscale(100%);
	}
	#deja-dropdown {
		background-color: #222;
		box-shadow: inset 0 0 0 1px rgba(#fff, 0.3);
		overflow: hidden;
		z-index: 20;
		deja-color-selector {
			width: 25rem;
			min-height: 15rem;
		}
	}
}