<mat-sidenav-container fxFlex [class.sidenav-hidden]="hidden" [class.sidenav-light]="!hidden && !sidenav.opened">

    <mat-sidenav #sidenav mode="side" fxLayout="column" opened>
        <mat-toolbar class="header">
            <mat-icon class="header-icon">face</mat-icon>
            <span class="header-text">{{headerText}}</span>
            <span fxFlex></span>
            <button mat-icon-button class="header-menu-btn" (click)="sidenav.toggle()">
                <mat-icon></mat-icon>
            </button>
        </mat-toolbar>
        <ng-content select="deja-sidenav-menu"></ng-content>
    </mat-sidenav>

    <div fxLayout="column" fxFlex>
        <mat-toolbar color="primary">
            <button mat-icon-button class="menu-btn" *ngIf="!sidenav.opened" (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>{{ title }}</span>
            <span fxFlex></span>
            <ng-content select="deja-sidenav-header"></ng-content>            
        </mat-toolbar>
        <ng-content select="deja-sidenav-content"></ng-content>
    </div>

</mat-sidenav-container>