@use '@angular/material' as mat;
@mixin data-grid-header-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    deja-grid-header {
        border-bottom: solid 1px rgba(mat.get-color-from-palette($primary), 0.8);

        #deja-grid-header {
            .column-header-wrapper {
                position: relative; // For spinner absolute position

                [separator] {
                    border-right: solid 1px mat.get-color-from-palette($primary, A400);
                }

                &.dragged {
                    background-color: rgba(0, 0, 0, 0.08);
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.08);
                }
            }
        }
    }
}
