@import '~@angular/material/theming';

@mixin tooltip-theme($theme) {
	$primary: map-get($theme, primary);

	.deja-overlay-container {
		#tooltip {
			background-color: mat-color($primary);
			color: #fff;
		}
	}
}