.cdk-overlay-container {
    #menucontent {
        padding: 0 !important;
        border-style: none !important;
        box-shadow: none !important;
    }
	#tooltip {
		font-size: 0.8rem;
		border: 1px solid #888;
		padding: 0.5rem;
	}
}
