<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/develop/projects/deja-js/component/time-picker/readme.md'"></deja-markdown>
</mat-card>

<div *ngIf="tabIndex === 1">
    <!-- TODO: Uncomment when versions of cdk, material and material-moment-adapter change to 11
    <mat-card class="demo-card">
        <mat-toolbar color="primary">Time Picker in mat-datepicker</mat-toolbar>
        <mat-card-content>
            <div>
                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="datepicker" [ngModel]="date0" (dateInput)="matDateChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <div class="time-picker-actions">
                                <deja-time-picker [ngModel]="date0" (ngModelChange)="date0Changed($event)" [mode]="modeFullTime"></deja-time-picker>
                                <div>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </div>
                            </div>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card> -->
    <mat-card class="demo-card">
        <mat-toolbar color="primary">Basic Time Picker with ngModel and ngModelChange event</mat-toolbar>
        <mat-card-content>
            <div class="flex-layout">
                <div>
                    <h3>With initial hours and minutes (09:05)</h3>
                    <div class="flex-layout-center">
                        <deja-time-picker [ngModel]="date1" (ngModelChange)="date1Changed($event)" mode="FULL_TIME"></deja-time-picker>
                    </div>
                    <p>Selected : {{ date1 | date:'HH:mm' }}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="demo-card">
        <mat-toolbar color="primary">Time Picker modes</mat-toolbar>
        <mat-card-content>
            <div class="flex-layout">
                <div>
                    <h3>With hours disabled</h3>
                    <div class="flex-layout-center">
                        <deja-time-picker [ngModel]="date2" (ngModelChange)="date2Changed($event)" [step]="5" mode="FULL_TIME_WITH_HOURS_DISABLED"></deja-time-picker>
                    </div>
                    <p>Selected date : {{ date2 | date:'HH:mm' }}</p>
                </div>
                <div>
                    <h3>With minutes disabled</h3>
                    <div class="flex-layout-center">
                        <deja-time-picker [ngModel]="date3" (ngModelChange)="date3Changed($event)" mode="FULL_TIME_WITH_MINUTES_DISABLED"></deja-time-picker>
                    </div>
                    <p>Selected date : {{ date3 | date:'HH:mm' }}</p>
                </div>
                <div>
                    <h3>With hours displayed only</h3>
                    <div class="flex-layout-center">
                        <deja-time-picker [ngModel]="date4" (ngModelChange)="date4Changed($event)" mode="HOURS_ONLY"></deja-time-picker>
                    </div>
                    <p>Selected date : {{ date4 | date:'HH:mm' }}</p>
                </div>
                <div>
                    <h3>With minutes displayed only</h3>
                    <div class="flex-layout-center">
                        <deja-time-picker [ngModel]="date5" (ngModelChange)="date5Changed($event)" mode="MINUTES_ONLY"></deja-time-picker>
                    </div>
                    <p>Selected date : {{ date5 | date:'HH:mm' }}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="demo-card">
        <mat-toolbar color="primary">Time Picker lock</mat-toolbar>
        <mat-card-content>
            <div class="flex-layout">
                <div>
                    <h3>Time Picker with hours locked</h3>
                    <div class="flex-layout-center">
                        <deja-time-picker [ngModel]="date6" (ngModelChange)="date6Changed($event)" [step]="5" mode="FULL_TIME_WITH_HOURS_DISABLED"></deja-time-picker>
                    </div>
                    <p>Selected date : {{ date6 | date:'HH:mm' }}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="demo-card">
        <mat-toolbar color="primary">Time Picker disable</mat-toolbar>
        <mat-card-content>
            <div class="flex-layout">
                <div>
                    <h3>Time Picker disabled</h3>
                    <div class="flex-layout-center">
                        <deja-time-picker [ngModel]="date7" (ngModelChange)="date7Changed($event)" [disabled]="disable7"></deja-time-picker>
                    </div>
                    <p>
                        <mat-checkbox [(ngModel)]="disable7">Disable time-picker</mat-checkbox>
                    </p>
                    <p>Selected date : {{ date7 | date:'HH:mm' }}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="demo-card">
        <mat-toolbar color="primary">Time Picker form control</mat-toolbar>
        <mat-card-content>
            <div class="flex-layout">
                <form [formGroup]="dateForm">
                    <h3>Time Picker form control</h3>
                    <div class="flex-layout-center">
                        <deja-time-picker formControlName="date8"></deja-time-picker>
                    </div>
                    <p>Selected date : {{ dateForm.controls.date8.value | date:'HH:mm' }}</p>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
