@use '~@angular/material'as mat;

@mixin chips-theme($theme) {
    $background: map-get($theme, background);

    $primary: map-get($theme, primary);

    deja-chips {
        &[disabled] {
            >span.chips-item {
                background-color: mat.get-color-from-palette($background, disabled-button);
            }
        }

        >span.chips-item {
            background-color: mat.get-color-from-palette($primary, A400);
            color: mat.get-color-from-palette($primary, default-contrast);

            &:hover {
                background-color: mat.get-color-from-palette($primary, A700);
            }
        }
    }
}
