<span class="chips-item" *ngFor="let item of items; let index = index">
    <span *ngIf="itemTemplate;else caption">
        <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, index: index }"></ng-template>
    </span>
    <ng-template #caption>
        <span>{{ getTextValue(item) }}</span>
    </ng-template>
    <mat-icon id="close-button" *ngIf="!readonly && !disabled" (click)="onClose($event, item, index)">close</mat-icon>
</span>
<span class="insert-item" *ngIf="insertTemplate">
    <ng-template [ngTemplateOutlet]="insertTemplate" [ngTemplateOutletContext]="{ }"></ng-template>
</span>
