<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabIndex = $event.index">
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card appearance="outlined" class="demo-card demo-basic" *ngIf="tabIndex === 0">
    TODO
</mat-card>
<mat-card appearance="outlined" class="demo-card demo-basic" *ngIf="tabIndex === 1">
    <mat-toolbar color="primary">Tag Component</mat-toolbar>
    <mat-card-content>
        <deja-tag [(ngModel)]="values" placeholder="Add tags"></deja-tag>

        <div>
            Model : 
            <pre>{{values | json}}</pre>
        </div>
    </mat-card-content>
</mat-card>