@import '~@angular/material/theming';

@mixin popup-theme($theme) {
    $primary: map-get($theme, primary);
    deja-popup-box{
        background-color: mat-color($primary);
    }
    deja-popup-toolbar{
        background-color: mat-color($primary);
    }

}