@import '~@angular/material/theming';

@mixin popup-theme($theme) {
    $primary: map-get($theme, primary);
    popup-box{
        background-color: mat-color($primary);
    }
    popup-toolbar{
        background-color: mat-color($primary);
    }

}