// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
// @import 'src/scss/variables/palette';

:host{
    @include mat-elevation(1);
    overflow-y: auto;
    background-color: white;
    mat-list-item{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &.list-disabled{
            /deep/> div{
                cursor: not-allowed;
            }
        } 
    }
}