@import '~@angular/material/theming';

@mixin circular-picker-theme($theme) {
    $primary: map-get($theme, primary);

    .circular-picker {
        border: 1px solid #dfdfdf;
        background-color: #dfdfdf;
        .value {
            &:hover {
                background-color: mat-color($primary);
                color: #FFF;
            }
        }
        .cursor-container {
            .cursor {
                background-color: mat-color($primary);
                color: #FFF;
            }
            .cursorHand {
                background-color: mat-color($primary);
            }
        }
    }
}