<div id="header" *ngIf="searchArea || groupArea">
    <md-input-container deja-child-validator id="input" *ngIf="searchArea">
        <input #inputelement type="text" mdInput tabindex="0" [(ngModel)]="query" [placeholder]="placeholder" [disabled]="disabled">
        <span *ngIf="searchPrefixTemplate" mdPrefix>
			<ng-template [ngTemplateOutlet]="searchPrefixTemplate"></ng-template>
		</span>
        <span *ngIf="searchSuffixTemplate" mdSuffix>
			<ng-template [ngTemplateOutlet]="searchSuffixTemplate"></ng-template>
		</span>
    </md-input-container>
</div>
<div id="listheader" *ngIf="headerTemplate">
    <ng-template [ngTemplateOutlet]="headerTemplate"></ng-template>
</div>
<div #listcontainer id="listcontainer" [attr.depth-max]="depthMax || null" [attr.vp-rowheight]="getViewPortRowHeight()" [style.max-height.px]="maxHeight || null" tabindex="1" [class.hasheader]="headerTemplate" [class.dragover]="_ddStartIndex !== undefined ? _ddStartIndex : null" [attr.keynav]="keyboardNavigation" (dragleave)="sortable ? dragLeave($event): null" (mousedown)="mousedown($event)" [deja-droppable]="getDropContext()">
    <div id="nodata-holder" *ngIf="(!_itemList || _itemList.length === 0) && !waiter">{{ nodataholder }}</div>
    <div id="error-hint" *ngIf="_hintLabel">{{ _hintLabel }}</div>
    <div *ngIf="vpBeforeHeight" [style.height.px]="vpBeforeHeight"></div>
    <div *ngFor="let item of _itemList; let index = index" #listitem class="listitem" [class.hide]="item.collapsing || item.expanding" [class.parent]="item.depth < depthMax" [class.collapsed]="item.collapsed" [class.selected]="item.selected" [attr.current]="(vpStartRow+index === currentItemIndex) || null" [class.unselectable]="item.selectable === false" [attr.depth]="depthMax ? item.depth : null" [attr.id]="item.id || null" [attr.flat]="vpStartRow + index" [deja-draggable]="getDragContext(vpStartRow + index)" [style.height.px]="getItemHeight(item)" [class.odd]="(item.depth === _depthMax && item.odd) || null">
		<span *ngIf="item.$items" id="expandbtn"></span>
        <ng-container *ngIf="(!item.$items || !parentItemTemplate) && (item.$items || !itemTemplate)">{{ getTextValue(item) }}</ng-container>
        <ng-container class="item-content" *ngIf="item.$items && parentItemTemplate">
		    <ng-template [ngTemplateOutlet]="parentItemTemplate" [ngTemplateOutletContext]="{ $implicit: item, query: query, flatindex: vpStartRow+index }"></ng-template>
	    </ng-container>
        <ng-container class="item-content" *ngIf="!item.$items && itemTemplate">
			<ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, query: query, flatindex: vpStartRow+index }"></ng-template>
		</ng-container>
    </div>
    <div *ngIf="vpAfterHeight" [style.height.px]="vpAfterHeight"></div>
    <deja-list-loader id="loader" *ngIf="waiter && !loaderTemplate"></deja-list-loader>
    <ng-container *ngIf="waiter && loaderTemplate">
		<ng-template [ngTemplateOutlet]="loaderTemplate"></ng-template>
	</ng-container>
</div>