@import "../../scss/variables/colors";
deja-tree-list {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: stretch;
    overflow: hidden;
    &.ng-invalid {
        #input {
            .mat-input-wrapper {
                .mat-input-underline {
                    .mat-input-ripple {
                        opacity: 1;
                        -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                    }
                }
            }
        }
    }
    #input {
        outline: none;
    }
    #header {
        flex: 0 0 auto;
        align-items: center;
        display: flex;
        #input {
            flex: 1 1 auto;
        }
        button {
            flex: 0 0 auto;
            margin: 16px 0.5rem 16px 0;
        }
    }
    #listheader {
        flex: 0 0 auto;
        overflow: hidden;
        box-sizing: border-box;
    }
    #listcontainer {
        flex: 1 1 auto;
        outline: none;
        overflow: auto;
        &.hasheader {
            border-top: 0;
        }
        &[keynav="false"]:not(.dragover) {
            div.listitem:not(.unselectable):hover {
                cursor: pointer;
            }
        }
        &[valign="bottom"] {
            border-top: none;
        }
        #nodata-holder {
            margin: 0.5rem;
        }
        #error-hint {
            margin: 0.5rem;
        }
    }
    #loader {
        position: absolute;
        left: 0;
        right: 0;
    }
    @import '../../common/core/item-list/item-list';
    @import '../../common/core/item-list/tree-list';
}