<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<md-tab label="OVERVIEW">-->
    <!--<md-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</md-card>-->
    <!--</md-tab>-->
    <md-tab label="API REFERENCE"></md-tab>
    <md-tab label="EXAMPLES"></md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/date-picker/readme.md'"></deja-markdown>
</md-card>

<div *ngIf="tabIndex === 1">
    <md-card class="demo-card">
        <md-toolbar color="primary">Date Selector</md-toolbar>
        <md-card-content>
            <div fxLayout>
                <div fxFlex="1 1 auto">
                    <h3>Only weeks are disabled :</h3>
                    <deja-date-time-selector [disableDates]="disabledDate" [(ngModel)]="theDate1"></deja-date-time-selector>
                    <p>Selected date : {{theDate1 | date:'yyyy-MM-dd'}}</p>
                </div>
                <div fxFlex="1 1 auto">
                    <h3>With initial date setted :</h3>
                    <deja-date-time-selector [(ngModel)]="theDateSelected"></deja-date-time-selector>
                    <p>Selected date : {{theDateSelected | date:'yyyy-MM-dd'}}</p>
                </div>
            </div>
            <hr>
            <div fxLayout>
                <div fxFlex="1 1 auto">
                    <h3>With min / max dates :</h3>
                    <deja-date-time-selector [(ngModel)]="theDate2" [dateMin]="dateMin" [dateMax]="dateMax"></deja-date-time-selector>
                    <p>Selected date : {{theDate2 | date:'yyyy-MM-dd'}}</p>
                    <p>min => max date : {{dateMin | date:'yyyy-MM-dd'}} => {{dateMax | date:'yyyy-MM-dd'}}</p>
                </div>
                <div fxFlex="1 1 auto">
                    <h3>With min / max dates and weeks are disabled :</h3>
                    <deja-date-time-selector [disableDates]="disabledDate" [(ngModel)]="theDate3" [dateMin]="dateMin" [dateMax]="dateMax"></deja-date-time-selector>
                    <p>Selected date : {{theDate3 | date:'yyyy-MM-dd'}}</p>
                    <p>min => max date : {{dateMin | date:'yyyy-MM-dd'}} => {{dateMax | date:'yyyy-MM-dd'}}</p>
                </div>
            </div>

        </md-card-content>
    </md-card>
    <md-card class="demo-card">
        <md-toolbar color="primary">Date Time Selector</md-toolbar>
        <md-card-content>
            <div fxLayout>
                <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
                    <deja-date-time-selector [disableDates]="disabledDate" [(ngModel)]="theDateTime" time></deja-date-time-selector>
                    <p>Selected date : {{theDateTime | date:'yyyy-MM-dd hh:mm:ss'}}</p>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="demo-card">
        <md-toolbar color="primary">Date Picker & DateTime Picker</md-toolbar>
        <md-card-content> 
            <div fxLayout>
                <div fxFlex="1 1 auto">
                    <h3>Date Picker :</h3>
                    <deja-date-picker [disableDates]="disabledDate" [(ngModel)]="theDatePicker"></deja-date-picker>
                    <p>Selected date : {{theDatePicker | date:'yyyy-MM-dd'}}</p>
                </div>
                <div fxFlex="1 1 auto">
                    <h3>DateTime Picker :</h3>
                    <deja-date-picker [disableDates]="disabledDate" [(ngModel)]="theDatetimePicker" time></deja-date-picker>
                    <p>Selected date : {{theDatetimePicker | date:'yyyy-MM-dd hh:mm:ss'}}</p>
                </div>
            </div>
            <hr>
            <div fxLayout>
                <h3>Shortcut navigation :</h3>
                <div fxFlex="1 1 auto" fxLayout fxLayoutAlign="center center" id="shortcut-list">
                    <ul>
                        <li> Inside input :
                            <ul>
                                <li>Press <span class="keyboard-key">D</span> to select the current date.</li>
                                <li>Press <span class="keyboard-key">↑</span> to increase the selected date of 1 day.</li>
                                <li>Press <span class="keyboard-key">↓</span> to decrease the selected date of 1 day.</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li> Inside date selector :
                            <ul>
                                <li>Press <span class="keyboard-key">↑</span> to decrease the selected date of 7 day.</li>
                                <li>Press <span class="keyboard-key">↓</span> to increase the selected date of 7 day.</li>
                                <li>Press <span class="keyboard-key">←</span> to decrease the selected date of 1 day.</li>
                                <li>Press <span class="keyboard-key">→</span> to increase the selected date of 1 day.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>


        </md-card-content>
    </md-card>

    <md-card class="demo-card">
        <md-toolbar color="primary">Date Range Picker & DateTime Range Picker</md-toolbar>
        <md-card-content>
            <div fxLayout>
                <div fxFlex="1 1 auto">
                    <h3>Date Range Picker :</h3>
                    <deja-date-picker format="DD.MM.YYYY" #dtfrom [disableDates]="disabledDate" [ngModel]="dateRangeFrom" (ngModelChange)="dateFrom.next($event)"></deja-date-picker>
                    <deja-date-picker format="DD.MM.YYYY" #dtto [disableDates]="disabledDate" [ngModel]="dateRangeTo" (ngModelChange)="dateTo.next($event)"></deja-date-picker>
                    <p>Selected date : from {{dateRangeFrom | date:'yyyy-MM-dd'}} to {{dateRangeTo | date:'yyyy-MM-dd'}}</p>
                </div>
                <div fxFlex="1 1 auto">
                    <h3>DateTime Range Picker :</h3>
                    <deja-date-picker format="DD.MM.YYYY HH:mm" #dtfrom [disableDates]="disabledDate" [(ngModel)]="datetimeRangeFrom" time></deja-date-picker>
                    <deja-date-picker format="DD.MM.YYYY HH:mm" #dtto [disableDates]="disabledDate" [(ngModel)]="datetimeRangeTo" time></deja-date-picker>
                    <p>Selected date : from {{datetimeRangeFrom | date:'yyyy-MM-dd hh:mm:ss'}} to {{datetimeRangeTo | date:'yyyy-MM-dd hh:mm:ss'}}</p>
                 </div>   
            </div>
        </md-card-content>
    </md-card>

</div>