<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<md-tab label="OVERVIEW">-->
    <!--<md-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</md-card>-->
    <!--</md-tab>-->
    <md-tab label="API REFERENCE"></md-tab>
    <md-tab label="EXAMPLES"></md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    TODO
</md-card>

<md-card class="demo-card" *ngIf="tabIndex === 1">
    <md-toolbar color="primary">Global Events</md-toolbar>
    <md-card-content>
        Cette page est enregistrée à un evenement globale. Chaques secondes, elle va recevoir un message de index.html qui se trouve en dehors de Angular.
        <br>
        <span>{{ model.date.toLocaleTimeString() }}</span>
    </md-card-content>
</md-card>