deja-splitter {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	split-gutter {
		flex: 0 0 10px;
		height: 100%;
		background-color: #eeeeee;
		background-position: 50%;
		background-repeat: no-repeat;
	}
	split-area {
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
    }
}