deja-overlay-demo {
	flex: 1 1 100%;
	padding: 1rem;

	#demo-deja-menu {
		display: flex;
		flex-flow: row;
		.menu-section {
			width: 300px;
			margin: 0.5rem;
		}
		.end-icon {
			align-items: flex-end;
		}
	}
}

[deja-menu-content]#anchorMenu .menu-item {
	white-space: nowrap;
    padding: 0.5rem 2rem;
}