:host {
    line-height: 36px;
    font-size: .8rem;
    margin: 0 1px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .deja-popup-box-title {
        padding: 0 .8rem;
    }

    .deja-popup-box-actions {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: right;

        .deja-popup-box-content {
            padding-right: 1rem;

            button {
                width: 18px;
                height: 18px;
                line-height: 18px;

                .mat-icon {
                    line-height: 18px;
                    font-size: 18px;
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }
}