:host {
    flex: 1 1 100%;
    padding: 1rem;
    
    .viewer {
        height: 500px;
        display: flex;
        flex: 1 1 100%;

        deja-monaco-editor {
            display: flex;
            flex: 1 1 100%;
        }
    }

    span[flex] {
            flex: 1 1 auto;
    }
}