@import '~@angular/material/theming';

@mixin date-selector-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    #date-time-selector {

        background: mat-color($background, card);
        color: mat-color($foreground, text);
        box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;

        #time-header,
        #date-header {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);

            button[mat-mini-fab] {
                background: mat-color($primary);
                box-shadow: none;
                color: mat-color($primary, default-contrast);
            }
        }

        #time-selector {
            deja-circular-picker {
                &.hours .circular-picker {
                    background: transparent;

                    &:before {
                        background-color: mat-color($primary);
                    }

                    &.disabled:before {
                        background: mat-color($foreground, disabled);
                    }
                }
            }
        }

        #date-selector {
            #sub-header {
                .month {
                    button[mat-mini-fab] {
                        background: mat-color($background, card);
                        color: mat-color($primary);
                    }
                }

                .days {
                    span {
                        color: rgba(mat-color($foreground, text), 0.7);
                    }
                }
            }

            #date-body {
                &[keynav="false"] {
                    .date {
                        .day {
                            &:hover {
                                background: mat-color($primary);
                                color: mat-color($primary, default-contrast);
                            }
                        }
                    }
                }

                .date {
                    .day {
                        &[current="true"] {
                            color: mat-color($primary);
                        }

                        &.background {
                            color: rgba(mat-color($foreground, text), 0.5);
                        }

                        &.disabled {
                            color: rgba(mat-color($foreground, text), 0.3);

                            &:hover {
                                background: none;
                                color: inherit;
                            }
                        }

                        &[selected] {
                            background: mat-color($primary);
                            color: mat-color($primary, default-contrast);
                        }
                    }
                }
            }
        }
    }
}