<div id="date-time-selector" [ngClass]="layoutClass" tabindex="-1">
    <div id="date-header">
        <div class="year" *ngIf="layoutId < 3">
            <button mat-mini-fab type="button" (click)="changeYear(-1)" [disabled]="disabled">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <div>{{displayedDate.getFullYear()}}</div>
            <button mat-mini-fab type="button" (click)="changeYear(1)" [disabled]="disabled">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <div current [innerHTML]="getSelectedDate() || '-'">
        </div>
    </div>
    <div id="date-selector" *ngIf="layoutId < 3">
        <div id="sub-header">
            <div class="month">
                <div class="previous">
                    <button mat-mini-fab type="button" (click)="changeMonth(-1)" [disabled]="disabled">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                </div>
                <span>{{displayedDate.toLocaleString(local, { month: 'long' })}} {{displayedDate.getFullYear()}}</span>
                <div class="next">
                    <button mat-mini-fab type="button" (click)="changeMonth(1)" [disabled]="disabled">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="days">
                <span *ngFor="let day of days">{{day}}</span>
            </div>
        </div>
        <div id="date-body" (keydown)="keyDown($event)" tabindex="0" [attr.keynav]="keyboardNavigation">
            <div class="date" *ngFor="let dateSelectorItem of currentDays; let index=index">
                <div class="day" [attr.dateindex]="index" [class.background]="dateSelectorItem.background" [class.disabled]="dateSelectorItem.disabled" [attr.current]="dateSelectorItem.currentDate || null" [attr.selected]="dateSelectorItem.selected || null">
                    {{dateSelectorItem.date.getDate()}}
                </div>
            </div>
            <div class="date" *ngFor="let emptyDay of emptyDays"></div>
        </div>
    </div>
    <div id="time-selector" *ngIf="layoutId > 1">
        <deja-time-picker [ngModel]="(displayedDate) ? displayedDate : zeroHourDate" (ngModelChange)="updateTime($event)" [disabled]="disabled"></deja-time-picker>
    </div>
</div>
