@import "../../scss/variables/colors";
:host {
    md-card {
        margin: 0;
        padding: 0;

        md-card-title {
            align-items: center;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
            display: flex;
            margin: 0;
            // margin: -24px -24px 1rem -24px;
            padding: 0.8rem;
            md-icon {
                margin-right: 0.5rem;
            }
        }
        md-card-content {
            margin: 0;
            padding: 1rem;
            h2 {
                font-size: 1.5rem;
                margin: 0;
                line-height: 32px;
            }
        }
        md-card-actions {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin: 0;
            padding: 0.2rem;
            button {
                margin-left: 0.2rem;
            }
        }
        &.info, &.primary {
            border: 1px solid $secondary;
            md-card-title {
                background-color: $secondary;
                color: #FFF;
            }
        }
        &.danger {
            border: 1px solid $red;
            md-card-title {
                background-color: $red;
                color: #FFF;
            }
        }
        &.warn {
            border: 1px solid $warning;
            md-card-title {
                background-color: $warning;
                color: #FFF;
            }
        }
        &.success {
            border: 1px solid $success;
            md-card-title {
                background-color: $success;
                color: #FFF;
            }
        }
    }
    &[horizontal] {
        md-card {
            align-items: stretch;
            display: flex;
            flex-direction: row;
            padding: 0;
            md-card-title {
                align-items: center;
                display: flex;
                flex: 0 0 auto;
                justify-content: center;
                margin: 0;
                text-align: center;
                md-icon {
                    margin: 0;
                }
            }
            md-card-content {
                align-self: center;
                flex: 1 1 auto;
                padding: 1rem;
            }
            md-card-actions {
                margin: 0;
                padding: 0;
                position: absolute;
                right: 0;
                top: 0; 
            }
        }
    }
}