<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<md-tab label="OVERVIEW">-->
        <!--<md-card class="demo-card demo-basic">-->
            <!--TODO-->
        <!--</md-card>-->
    <!--</md-tab>-->
    <md-tab label="API REFERENCE"></md-tab>
    <md-tab label="EXAMPLES"></md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/splitter/readme.md'"></deja-markdown>
</md-card>
    
<div *ngIf="tabIndex === 1">
    <md-card class="demo-card">
        <md-toolbar color="primary">Horizontal splitter</md-toolbar>
        <md-card-content class="no-padding">
            <div class="container">
                <deja-splitter [direction]="'horizontal'">
                    <split-area [size]="25">
                        <p>Lorem ipsum dolor sit amet...</p>
                    </split-area>
                    <split-area [size]="75">
                        <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
                    </split-area>
                </deja-splitter>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="demo-card">
        <md-toolbar color="primary">Vertical splitter</md-toolbar>
        <md-card-content class="no-padding">
            <div class="container">
                <deja-splitter [direction]="'vertical'">
                    <split-area [size]="25">
                        <p>Lorem ipsum dolor sit amet...</p>
                    </split-area>
                    <split-area [size]="75">
                        <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
                    </split-area>
                </deja-splitter>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="demo-card">
        <md-toolbar color="primary">Multiple splitter</md-toolbar>
        <md-card-content class="no-padding">
            <div class="container">
                <deja-splitter [direction]="'horizontal'">
                    <split-area [size]="40">
                        <deja-splitter [direction]="'vertical'">
                            <split-area [size]="30">
                                <p>Lorem ipsum dolor sit amet...</p>
                            </split-area>
                            <split-area [size]="40">
                                <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
                            </split-area>
                            <split-area [size]="30">
                                <p>Lorem ipsum dolor sit amet...</p>
                            </split-area>
                        </deja-splitter>
                    </split-area>
                    <split-area [size]="60">
                        <deja-splitter [direction]="'vertical'">
                            <split-area [size]="50">
                                <p>Lorem ipsum dolor sit amet...</p>
                            </split-area>
                            <split-area [size]="50">
                                <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
                            </split-area>
                        </deja-splitter>
                    </split-area>
                </deja-splitter>
            </div>
        </md-card-content>
    </md-card>
</div>