@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/theming/theming';

@mixin message-box-theme($theme) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $warning: mat-palette($mat-orange);
    $success: mat-palette($mat-green);


    deja-message-box {
        background-color: mat-color($background, card);

        &:not([horizontal]) {
            #msgbox {
                &.info,
                &.primary {
                    .mat-card-actions {
                        background-color: mat-color($primary, 700);
                    }
                }

                &.danger {
                    .mat-card-actions {
                        background-color: mat-color($warn, 700);
                    }
                }

                &.success {
                    .mat-card-actions {
                        background-color: mat-color($success, 700);
                    }
                }

                &.warn {
                    .mat-card-actions {
                        background-color: mat-color($warning, 700);
                    }
                }
            }
        }

        #msgbox {

            &.info,
            &.primary,
            &.danger,
            &.success,
            &.warn {
                color: mat-color($background, card);

                mat-icon {
                    color: mat-color($background, card);
                }
            }

            &.info,
            &.primary {
                background-color: mat-color($primary);
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(mat-color($primary), .4);
            }

            &.danger {
                background-color: mat-color($warn);
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(mat-color($warn), .4);
            }

            &.warn {
                background-color: mat-color($warning);
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(mat-color($warning), .4);
            }

            &.success {
                background-color: mat-color($success);
                box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(mat-color($success), .4);
            }

            >.mat-card-actions {
                button {
                    &.mat-success[mat-icon-button]:not([disabled]) {
                        color: mat-color($success) !important;
                    }

                    &.mat-warn[mat-icon-button]:not([disabled]) {
                        color: mat-color($warning) !important;
                    }

                    &.mat-danger[mat-icon-button]:not([disabled]) {
                        color: mat-color($warn) !important;
                    }
                }
            }
        }
    }
}
