<mat-card id="msgbox" [attr.class]="type">
    <mat-card-title *ngIf="icon || showCloseIcon">
        <mat-icon id="icon" *ngIf="icon">{{icon}}</mat-icon>
        <span id="title" *ngIf="!horizontal">{{title}}</span>
        <div class="header-actions">
            <button *ngIf="showCloseIcon" mat-icon-button type="button" class="close" (click)="close.emit()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <h2 id="title" *ngIf="horizontal && title">{{title}}</h2>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions *ngIf="actions">
        <span *ngFor="let action of actions">
            <button mat-button type="button" *ngIf="action.text" (click)="action.action()" class="with-icon" [attr.data-icon]="action.icon">
                {{action.text}}
            </button>
            <button mat-icon-button type="button" *ngIf="action.icon && !action.text" [class.action-button]="!action.type" (click)="action.action()">
                <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
            </button>
        </span>
    </mat-card-actions>
    <mat-card-actions *ngIf="!actions && actionsTemplate">
		<ng-template [ngTemplateOutlet]="actionsTemplate"></ng-template>
	</mat-card-actions>
</mat-card>
