<mat-sidenav-container [class.sidenav-hidden]="sidenavService.hidden" [class.sidenav-light]="!sidenavService.hidden && !sidenavService.opened">
    <mat-sidenav [(opened)]="sidenavService.opened" [mode]="sidenavService.mode">
        <mat-toolbar class="header">
            <mat-icon class="header-icon">{{headerIcon}}</mat-icon>
            <span class="header-text">{{headerText}}</span>
            <button type="button" mat-icon-button class="header-menu-btn" (click)="sidenavService.toggle()">
                <mat-icon>{{!sidenavService.hidden && !sidenavService.opened ? 'menu' : 'keyboard_arrow_left'}}</mat-icon>
            </button>
        </mat-toolbar>
        <ng-content select="deja-sidenav-menu"></ng-content>
    </mat-sidenav>

    <mat-toolbar color="primary" *ngIf="_showToolbar">
        <button type="button" mat-icon-button class="menu-btn" *ngIf="!sidenavService.opened" (click)="sidenavService.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="menu-title">{{ title }}</span>
        <ng-content select="deja-sidenav-header"></ng-content>
    </mat-toolbar>
    <ng-content select="deja-sidenav-content"></ng-content>
</mat-sidenav-container>
