[svg-icon]:before, 
[svg-icon]:after {   
    font-family: svg-fonts;
	font-weight: normal;
    font-style: normal;
    font-size: 130%;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
}
