<mat-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<mat-tab label="OVERVIEW">-->
    <!--<mat-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</mat-card>-->
    <!--</mat-tab>-->
    <mat-tab label="API REFERENCE"></mat-tab>
    <mat-tab label="EXAMPLES"></mat-tab>
</mat-tab-group>

<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    TODO
</mat-card>
<mat-card class="demo-card demo-basic" *ngIf="tabIndex === 1">
    <mat-toolbar color="primary">Textarea Autosized</mat-toolbar>
    <mat-card-content>
        <mat-form-field>
            <textarea deja-autosize matInput placeholder="This is an autosize text area" [(ngModel)]="multitext"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <mat-form-field>
            <textarea deja-autosize matInput placeholder="This is an empty text area" [(ngModel)]="multitext2"></textarea>
        </mat-form-field>
    </mat-card-content>
</mat-card>