/* You can add global styles to this file, and also import other style files */
@import '../src/scss/index.scss';
@import './app/home/home-theme';
@import '~@angular/material/theming';
@import '../src/scss/variables/themeHUG';

@mixin create-theme($color1, $color2) {
    @include mat-core();

    // Define color scheme
    $primary: mat-palette($color1);
    $accent: mat-palette($color2);
    $warn: mat-palette($mat-red);

    // Create the theme object from colors
    $theme: mat-light-theme($primary, $accent, $warn);

    // Include theme styles for core and each component used in the app.
    @include angular-material-theme($theme);

    /* ------ FAKE THEME ----- */
    /* WE NEED TO CREATE A FAKE THEME AND OVERRIDE THE COMPONENT MIXIN TO FIX THE MATERIAL COMPONENT COLOR ISSUE */
    /* https://github.com/angular/material2/issues/947 */ 
    $fake-theme: mat-light-theme($primary, $primary, $warn);
    @include mat-radio-theme($fake-theme);
    @include deja-theme($theme);
    @include home-demo-theme($theme);
}

app-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // overflow: hidden;

    &[theme="hug"] {
        @include deja-theme($theme);
        @include home-demo-theme($theme);
    }

    &[theme="pink"] { @include create-theme($mat-pink, $mat-indigo); }
    &[theme="teal"] { @include create-theme($mat-teal, $mat-green); }
    &[theme="amber"] { @include create-theme($mat-amber, $mat-orange); }
}