<span *ngIf="columnLayout.vpBeforeWidth" [style.width.px]="columnLayout.vpBeforeWidth"></span>
<span *ngFor="let column of columnLayout.columns; let index=index" [attr.colindex]="index" [attr.colname]="column.name" [class.dragged]="column.dragged" [attr.current]="column.isCurrent || null" class="cell-wrapper" [style.width.px]="column.w">
	<span *ngIf="!cellTemplate || !column.useCellTemplate" class="cell">{{ row[column.name] }}</span>
	<ng-template [ngTemplateOutlet]="cellTemplate" *ngIf="cellTemplate && column.useCellTemplate" [ngTemplateOutletContext]="{ $implicit: row, flatIndex: flatIndex, column: column }"></ng-template>
</span>
<span *ngIf="columnLayout.vpAfterWidth" [style.width.px]="columnLayout.vpAfterWidth"></span>