:host {
    display: inline-flex;
    align-items: center;
    .cell-wrapper {
        padding: 0 !important;
        margin: 0 !important;
        display: inline-flex;
        align-items: center;
        height: 100%;
        &:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }
        &.dragged {
            background-color: rgba(0, 0, 0, 0.08);
        }
        .cell {
            flex: 1 1 auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0.25rem;
            display: block;
        }
    }
}