<div *ngIf="item" class="news" fxLayout="row" [attr.id]="id">
    <img *ngIf="item.urlToImage" [attr.src]="item.urlToImage" (load)="imageLoaded.next()" class="logo" fxLayout="row" fxLayoutAlign="space-between" fxFlexAlign="center">
    <span class="text" fxLayout="column">
        <div class="title">{{ item.title }}</div>
        <div class="description">{{ item.description }}</div>
        <div class="footer" fxFlex="column" fxLayoutAlign="space-between">
            <a class="url" [attr.href]="item.url">{{ item.url }}</a>
            <span class="author">{{ item.author }}</span>
            <span class="publishedAt">{{ item.publishedAt }}</span>
        </div>
    </span>
</div>