<span *ngIf="item" class="news" fxLayout="row" [attr.id]="id">
    <img *ngIf="item.urlToImage" [attr.src]="item.urlToImage" (load)="imageLoaded.emit()" class="logo" fxLayout="row" fxLayoutAlign="space-between" fxFlexAlign="center">
    <span class="text" fxLayout="column">
        <span class="title">{{ item.title }}</span>
        <span class="description">{{ item.description }}</span>
        <span class="footer" fxFlex="column" fxLayoutAlign="space-between" fxLayoutWrap>
            <a class="url" [attr.href]="item.url">{{ item.url }}</a>
            <span class="author">{{ item.author }}</span>
            <span class="publishedAt">{{ item.publishedAt }}</span>
        </span>
    </span>
</span>