<md-input-container id="input" [attr.wait]="waiter || _waiter" [attr.multiselection]="_multiSelect && selectedItems.length > 0" [attr.selection]="selectedItemsPosition===0 ? 'above' : null">
	<input #inputElement deja-child-validator type="text" mdInput [readonly]="isModeSelect || readonly" (ngModelChange)="queryChanged($event)" [ngModel]="query" [disabled]="disabled">
	<div id="md-input-prefix" mdPrefix *ngIf="_multiSelect && selectedItems.length > 0 && selectedItemsPosition===0">
        <deja-chips [items]="selectedItems" [readonly]="readonly" [disabled]="disabled" (close)="onCloseClicked($event)" [itemTemplateExternal]="selectedTemplate" [textField]="_textField"></deja-chips>
	</div>
	<md-placeholder>
		<ng-template [ngTemplateOutlet]="placeHolderTemplate"></ng-template>
		<span *ngIf="!placeHolderTemplate">{{ placeholder }}</span>
	</md-placeholder>
	<div *ngIf="!disabled && selectionClearable && !_multiSelect && selectedItems.length > 0" mdSuffix><i (click)="onCloseClicked()" id="clear-button" class="material-icons mdSuffix">clear</i></div>
	<md-hint *ngIf="hintTemplate">
		<ng-template [ngTemplateOutlet]="hintTemplate"></ng-template>
	</md-hint>
	<span *ngIf="mdSuffix" mdSuffix>
		<ng-template [ngTemplateOutlet]="mdSuffix"></ng-template>
	</span>
</md-input-container>
<deja-chips [items]="selectedItems" [readonly]="readonly" [disabled]="disabled" (close)="onCloseClicked($event)" [itemTemplateExternal]="selectedTemplate" *ngIf="_multiSelect && selectedItems.length > 0 && selectedItemsPosition===1" [textField]="_textField"></deja-chips>
<deja-dropdown id="listcontainer" #listcontainer *ngIf="dropdownVisible" [attr.depth-max]="_depthMax || null" [attr.keynav]="keyboardNavigation" [attr.vprowheight]="getViewPortRowHeight()" (mousedown)="mousedown($event)" (hide)="dropdownVisible=false" (scroll)="scroll($event)" [ownerAlignment]="_ownerAlignment" [dropdownAlignment]="_dropdownAlignment" [ownerElement]="inputElement" [containerElement]="containerElement" ownerBottomMargin="-6" ownerTopMargin="-5" ownerRightMargin="0" [style.max-height.px]="maxHeight">
	<div *ngIf="vpBeforeHeight" [style.height.px]="vpBeforeHeight"></div>
	<div *ngFor="let item of _itemList; let index = index" #listitem class="listitem" [class.hide]="item.collapsing || item.expanding" [class.parent]="item.depth < _depthMax" [class.collapsed]="item.collapsed" [class.selected]="item.selected" [attr.current]="(_multiSelect && vpStartRow+index === currentItemIndex) || null" [class.unselectable]="item.selectable === false" [attr.depth]="_depthMax ? item.depth : null" [attr.id]="item.id || null" [attr.flat]="vpStartRow + index" [style.height.px]="getItemHeight(item)" [class.odd]="(item.depth === _depthMax && item.odd) || null">
		<span *ngIf="item.$items" id="expandbtn"></span>
		<ng-container *ngIf="(!item.$items || !parentItemTemplate) && (item.$items || !itemTemplate)">{{ getTextValue(item) }}</ng-container>
		<ng-container *ngIf="item.$items && parentItemTemplate">
			<ng-template [ngTemplateOutlet]="parentItemTemplate" [ngTemplateOutletContext]="{ $implicit: item, query: query, flatindex: vpStartRow+index }"></ng-template>
		</ng-container>
		<ng-container *ngIf="!item.$items && itemTemplate">
			<ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, query: query, flatindex: vpStartRow+index }"></ng-template>
		</ng-container>
	</div>
	<div *ngIf="vpAfterHeight" [style.height.px]="vpAfterHeight"></div>
</deja-dropdown>
<div *ngIf="_hintLabel != ''" class="mat-hint">{{_hintLabel}}</div>
<deja-backdrop id="select-backdrop" (click)="dropdownVisible=false" *ngIf="dropdownVisible"></deja-backdrop>