<deja-chips [items]="selectedItems" [readonly]="readonly" [disabled]="disabled" (close)="onCloseClicked($event)" [itemTemplateExternal]="selectedTemplate" *ngIf="isMultiSelect && selectedItems.length > 0 && selectedItemsPosition===0" [textField]="_textField"></deja-chips>
<mat-form-field cdk-overlay-origin id="input" [attr.wait]="waiter" [attr.multiselection]="isMultiSelect && selectedItems.length > 0" [attr.selection]="selectedItemsPosition===0 ? 'above' : null">
	<input #inputElement deja-child-validator type="text" matInput [readonly]="isModeSelect || readonly" (ngModelChange)="queryChanged($event)" [ngModel]="query" [disabled]="disabled" autocomplete="off">
	<mat-placeholder>
		<ng-template [ngTemplateOutlet]="placeHolderTemplate"></ng-template>
		<span *ngIf="!placeHolderTemplate">{{ placeholder }}</span>
	</mat-placeholder>
	<div *ngIf="!disabled" matSuffix class="actions-suffix">
		<i (click)="onCloseClicked()" id="clear-button" class="material-icons matSuffix" *ngIf="selectionClearable && !isMultiSelect && selectedItems.length > 0">clear</i>
		<i class="material-icons matSuffix select-arrow-down">keyboard_arrow_down</i>
	</div>
	<mat-hint *ngIf="hintTemplate">
		<ng-template [ngTemplateOutlet]="hintTemplate"></ng-template>
	</mat-hint>
	<mat-error *ngIf="errorTemplate">
		<ng-template [ngTemplateOutlet]="errorTemplate"></ng-template>
	</mat-error>
	<span *ngIf="matSuffix" matSuffix>
		<ng-template [ngTemplateOutlet]="matSuffix"></ng-template>
	</span>
</mat-form-field>
<deja-chips [items]="selectedItems" [readonly]="readonly" [disabled]="disabled" (close)="onCloseClicked($event)" [itemTemplateExternal]="selectedTemplate" *ngIf="isMultiSelect && selectedItems.length > 0 && selectedItemsPosition===1" [textField]="_textField"></deja-chips>
<deja-overlay #dejaOverlay [ownerElement]="overlayOwnerElement" [isVisible]="dropdownVisible" (closed)="hideDropDown()" [positions]="positions" [overlayOffsetY]="overlayOffsetY" [overlayOffsetX]="overlayOffsetX" [width]="dropDownWidth" widthForMobile="100%" (closed)="hideDropDown()">
    <div [id]="listElementId" class="deja-listcontainer" [attr.itemscount]="itemList && itemList.length" [attr.depth-max]="depthMax || null" [attr.keynav]="keyboardNavigation" [attr.vprowheight]="getViewPortRowHeight()" (mousedown)="mousedown($event)" (scroll)="scroll($event)" [style.max-height.px]="dropDownMaxHeight">
        <div *ngIf="vpBeforeHeight" [style.height.px]="vpBeforeHeight"></div>
        <div *ngFor="let item of treeItemList; let index = index" #listitem [attr.class]="getItemClass(item)" [class.hide]="item.collapsing || item.expanding" [class.parent]="item.depth < depthMax" [class.collapsed]="item.collapsed" [class.selected]="item.selected" [attr.current]="(isMultiSelect && vpStartRow+index === currentItemIndex) || null" [class.unselectable]="item.selectable === false" [attr.depth]="depthMax ? item.depth : null" [attr.id]="item.id || null" [attr.flat]="vpStartRow + index" [style.height.px]="getItemHeight(item)" [class.odd]="(item.depth === depthMax && item.odd) || null">
            <span id="expandbtn"><i *ngIf="item.$items && item.$items.length" class="material-icons">keyboard_arrow_down</i></span>
            <ng-container *ngIf="(!item.$items || !parentItemTemplate) && (item.$items || !itemTemplate)">{{ getTextValue(item) }}</ng-container>
            <ng-container *ngIf="item.$items && parentItemTemplate">
                <ng-template [ngTemplateOutlet]="parentItemTemplate" [ngTemplateOutletContext]="{ $implicit: item, query: query, flatindex: vpStartRow+index }"></ng-template>
            </ng-container>
            <ng-container *ngIf="!item.$items && itemTemplate">
                <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, query: query, flatindex: vpStartRow+index }"></ng-template>
            </ng-container>
        </div>
        <div *ngIf="vpAfterHeight" [style.height.px]="vpAfterHeight"></div>
    </div>
</deja-overlay>
<div *ngIf="hintLabel != ''" class="mat-hint">{{hintLabel}}</div>
