@import '~@angular/material/theming';
:host {
    flex: 1 1 100%;
    padding: 1rem;
    .combo-demo-container{
        height: 20vh;
    }
    #demo {
        .h1 {
            margin-top: 2rem;
        }
        &.demo-card {
            margin: 16px;
            mat-card-content {
                padding: 16px;
                display: flex;
                flex-direction: column;
                deja-select {
                    flex-basis: 50%;
                    flex-grow: 0;
                    flex-shrink: 0;
                    position: relative;
                    margin-top: 2rem;
                }
            }
        }
        &.demo-basic {
            padding: 0;
        }
        &.demo-full-width {
            width: 100%;
        }
        &.demo-icons {
            font-size: 100%;
            height: inherit;
            vertical-align: top;
            width: inherit;
        }
    }
}
