/* You can add global styles to this file, and also import other style files */

@use '@angular/material'as mat;

// use `~@deja-js/component/theming` inside your app
@use '../projects/deja-js/component/styles/theming'as dejaTheme;

@use './component/markdown/markdown-theme'as markdownTheme;
@use './app/home/home-theme'as homeTest;

mat.$theme-ignore-duplication-warnings: true;

@mixin create-theme($color1, $color2, $dark: false) {

    // TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
    //  The following line adds:
    //    1. Default typography styles for all components
    //    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
    //  If you specify typography styles for the components you use elsewhere, you should delete this line.
    //  If you don't need the default component typographies but still want the hierarchy styles,
    //  you can delete this line and instead use:
    // @include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());
    // @include mat.all-legacy-component-typographies();

    @include mat.legacy-core(); // Define color scheme

    $primary: mat.define-palette($color1);
    $accent: mat.define-palette($color2);
    $warn: mat.define-palette(mat.$red-palette); // Create the theme object from colors
    $theme: mat.define-light-theme((color: (primary: $primary, accent: $accent, warn: $warn, ), typography: mat.define-typography-config(), density: 0));

    @if $dark==true {
        $theme: mat.define-dark-theme((color: (primary: $primary, accent: $accent, warn: $warn, ), typography: mat.define-typography-config(), density: 0));
    }

    @include mat.all-legacy-component-themes($theme);
    @include dejaTheme.deja-theme($theme);
    // @include deja-menu();
    // @include deja-tree-list-borders();

    @include markdownTheme.markdown-theme($theme);
    @include homeTest.home-demo-theme($theme);
}

body {
    app-root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; // overflow: hidden;
    }

    @include create-theme(mat.$blue-palette, mat.$teal-palette);

    &[theme="pink"] {
        @include create-theme(mat.$pink-palette, mat.$indigo-palette, true);
    }

    &[theme="teal"] {
        @include create-theme(mat.$teal-palette, mat.$green-palette);
    }

    &[theme="amber"] {
        @include create-theme(mat.$amber-palette, mat.$orange-palette, true);
    }

    [text-ellipsis] {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* See : http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
        not supported by any browser */
    }

    .no-padding-dialog .mat-dialog-container {
        padding: 0;

        .mat-dialog-content {
            margin: 0;
        }
    }

    .mat-dialog-container {
        padding: 0;

        .mat-dialog-content {
            margin: 0;
        }

        .dialog-toolbar {
            display: flex;
            justify-content: space-between;

            .dialog-title {
                padding: 0 1rem 0 0;
            }

            .dialog-action {
                display: flex;
                justify-content: baseline;
                align-items: center;
                cursor: pointer;
                font-size: 85%;
                opacity: 0.9;
            }
        }

        .dialog-container {
            padding: 1rem;
            max-height: 65vh;
            max-width: 90vw;
            overflow: auto;
        }

        .dialog-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0.7rem;

            .mat-button {
                margin: 0 0.5rem;
            }
        }
    }
}
