@import 'variables/colors';
@import 'utils/flex';

@import 'components/loader';
// @import 'material/material';
@import 'variables/themeHUG';

@import 'fonts/material-icons';
@import 'fonts/roboto';


/* See : http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       not supported by any browser */
}

/* Added for status managment */
#dpi {
    md-dialog-container {
        padding: 0;
        height: auto;
    }
}

/**
* Mixin for themes
*/


// Import your custom input theme file so you can call the custom-input-theme function
@import 'src/component/accordion/accordion-theme';
@import 'src/component/circular-picker/circular-picker-theme';
@import 'src/component/date-picker/date-picker-theme';
@import 'src/component/date-selector/date-selector-theme';

// Create a theme.
@mixin deja-theme($custom-theme) {
    @include accordion-theme($custom-theme);
    @include circular-picker-theme($custom-theme);
    @include date-picker-theme($custom-theme);
    @include date-selector-theme($custom-theme);
}