@font-face {
	font-family: "svg-fonts";
	src: url("~@deja-js/component/assets/fonts/svg-fonts.eot");
	src: url("~@deja-js/component/assets/fonts/svg-fonts.eot#iefix") format("embedded-opentype"),
	url("~@deja-js/component/assets/fonts/svg-fonts.woff") format("woff"),
	url("~@deja-js/component/assets/fonts/svg-fonts.ttf") format("truetype"),
	url("~@deja-js/component/assets/fonts/svg-fonts.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="svg-icon-"]:before, [class*=" svg-icon"]:before,
[class^="svg-icon-"]:after, [class*=" svg-icon"]:after {   
    font-family: svg-fonts;
    font-size: 100%;
	font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.svg-icon-add:before { content: "\EA01" }
.svg-icon-arrow_drop_down:before { content: "\EA02" }
.svg-icon-arrow_upward:before { content: "\EA03" }
.svg-icon-cached:before { content: "\EA04" }
.svg-icon-clear:before { content: "\EA05" }
.svg-icon-close:before { content: "\EA06" }
.svg-icon-edit:before { content: "\EA07" }
.svg-icon-keyboard_arrow_down:before { content: "\EA08" }
.svg-icon-keyboard_arrow_up:before { content: "\EA09" }