:host {

    /* for demo purpose only*/
    #custom-range-actions {
        display: flex;
        justify-content: space-around;
    }

    h3 {
        margin-top: 24px;
    }

    #flex-container {
        display: flex;
        flex-direction: row;
        /* !!! important or it won't work !*/
        justify-content: flex-end;

        section {
            display: block;
            flex-grow: 1;
            flex-shrink: 0;
            box-sizing: border-box;
            margin: 1rem 1rem 1rem 1rem;
        }

        button {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 36px;
            box-sizing: border-box;
            margin: 1rem 1rem 1rem 1rem;
        }
    }

    /* copy the styles below if you want to use custom demo as is*/
    #custom-range {
        /* change the height of the component using this variable only*/
        $height: 24px;
        flex-basis: max-content;
        align-self: center;
        height: $height;

        .custom-range {
            display: flex;
            align-self: center;
            font-size: 10pt;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        /* don't mess with the custom-seprator styling if you want to use the svg separator as is*/
        .custom-separator {
            display: flex;
            width: 10px;
            flex-wrap: wrap;
            $triangle-height: 5px;

            svg.triangle {
                polygon {
                    fill: #333;
                }

                margin-top: 0px - $triangle-height;
                width: $triangle-height * 2;
                height: $triangle-height;
            }

            svg.line {
                height: $height + 2 * $triangle-height;
                margin-top: 0px - $triangle-height;

                rect {
                    fill: #333;
                    height: $height + 2 * $triangle-height;
                    width: 1px;
                }
            }
        }
    }
}
