// Palette primary HUG
$md-hug-primary: (
    50 : #e8f1f9,
    100 : #c6dcef,
    200 : #a1c5e5,
    300 : #7baeda,
    400 : #5e9cd2,
    500 : #428bca,
    600 : #3c83c5,
    700 : #3378bd,
    800 : #2b6eb7,
    900 : #1d5bab,
    A100 : #e3eeff,
    A200 : #bed2ff,
    A400 : #7db2ff,
    A700 : #63a3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);