@import '~@angular/material/theming';
@import './palette';
@include mat-core();

// Define color scheme
$primary: mat-palette($md-hug-primary);
$accent: mat-palette($mat-teal);
$warn: mat-palette($mat-red);

// Create the theme object from colors
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in the app.
@include angular-material-theme($theme);


/* ------ FAKE THEME ----- */
/* WE NEED TO CREATE A FAKE THEME AND OVERRIDE THE COMPONENT MIXIN TO FIX THE MATERIAL COMPONENT COLOR ISSUE */
/* https://github.com/angular/material2/issues/947 */ 
$fake-theme: mat-light-theme($primary, $primary, $warn);
@include mat-radio-theme($fake-theme);