@use '~@angular/material'as mat;

@mixin home-demo-theme($theme) {
    $primary: map-get($theme, primary);

    home {
        header {
            background-color: mat.get-color-from-palette($primary) !important;
        }

        footer {
            background: mat.get-color-from-palette($primary);
        }
    }
}