<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<md-tab label="OVERVIEW">-->
    <!--<md-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</md-card>-->
    <!--</md-tab>-->
    <md-tab label="API REFERENCE"></md-tab>
    <md-tab label="EXAMPLES"></md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    <deja-markdown [url]="'https://raw.githubusercontent.com/DSI-HUG/dejajs-components/dev/src/component/date-picker/readme.md'"></deja-markdown>
</md-card>

<div *ngIf="tabIndex === 1">
    <md-card class="demo-card">
        <md-toolbar color="primary">Date & Date Time Selector</md-toolbar>
        <md-card-content>
            <div fxLayout>
                <div fxFlex="1 1 auto">
                    <deja-date-time-selector [disableDates]="disabledDate"></deja-date-time-selector>
                </div>
                <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center">
                    <deja-date-time-selector [disableDates]="disabledDate" [(ngModel)]="theDate" time></deja-date-time-selector>
                    <p>Selected date : {{theDate}}</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="demo-card">
        <md-toolbar color="primary">Date Time Picker</md-toolbar>
        <md-card-content>
            <div fxLayout>
                <div fxFlex="1 1 auto">
                    <deja-date-picker [disableDates]="disabledDate" time></deja-date-picker>
                </div>
                <div fxFlex="1 1 auto" fxLayout fxLayoutAlign="center center" id="shortcut-list">
                    <ul>
                        <li> Inside input :
                            <ul>
                                <li>Press <span class="keyboard-key">D</span> to select the current date.</li>
                                <li>Press <span class="keyboard-key">↑</span> to increase the selected date of 1 day.</li>
                                <li>Press <span class="keyboard-key">↓</span> to decrease the selected date of 1 day.</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li> Inside date selector :
                            <ul>
                                <li>Press <span class="keyboard-key">↑</span> to decrease the selected date of 7 day.</li>
                                <li>Press <span class="keyboard-key">↓</span> to increase the selected date of 7 day.</li>
                                <li>Press <span class="keyboard-key">←</span> to decrease the selected date of 1 day.</li>
                                <li>Press <span class="keyboard-key">→</span> to increase the selected date of 1 day.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="demo-card">
        <md-toolbar color="primary">Date Range Picker</md-toolbar>
        <md-card-content>
            <deja-date-picker format="DD.MM.YYYY" #dtfrom [disableDates]="disabledDate" [ngModel]="dateRangeFrom" (ngModelChange)="dateFrom.next($event)"></deja-date-picker>
            <deja-date-picker format="DD.MM.YYYY" #dtto [disableDates]="disabledDate" [ngModel]="dateRangeTo" (ngModelChange)="dateTo.next($event)"></deja-date-picker>
        </md-card-content>
    </md-card>
</div>