:host {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #222;
    iframe {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #fff;
    }
}