<md-tab-group [selectedIndex]="tabIndex" (selectChange)="tabIndex = $event.index">
    <!--<md-tab label="OVERVIEW">-->
    <!--<md-card class="demo-card demo-basic">-->
    <!--TODO-->
    <!--</md-card>-->
    <!--</md-tab>-->
    <md-tab label="API REFERENCE"></md-tab>
    <md-tab label="EXAMPLES"></md-tab>
</md-tab-group>

<md-card class="demo-card demo-basic" *ngIf="tabIndex === 0">
    TODO
</md-card>
<md-card class="demo-card demo-basic" *ngIf="tabIndex === 1">
    <md-toolbar color="primary">Textarea Autosized</md-toolbar>
    <md-card-content>
        <md-input-container>
            <textarea deja-autosize mdInput placeholder="This is an autosize text area" [(ngModel)]="multitext"></textarea>
        </md-input-container>
    </md-card-content>
    <md-card-content>
        <md-input-container>
            <textarea deja-autosize mdInput placeholder="This is an empty text area" [(ngModel)]="multitext2"></textarea>
        </md-input-container>
    </md-card-content>
</md-card>